Repository fastify/fastify, pull requests merged in 2018-05, with the labels that each got.

#918 avoid creating a promise
  lib/handleRequest.js
Labels: enhancement, performances

#912 Documentation of method After
  docs/Server-Methods.md
Labels: documentation

#892 Add fastify-couchdb plugin to the ecosystem list
  docs/Ecosystem.md
Labels: documentation, plugin

#916 Update dependencies
  package.json
Labels: internals

#884 Add config to docs
  docs/Routes.md
  fastify.d.ts
  test/context-config.test.js
  test/types/index.ts
Labels: documentation

#929 Fix 928
  lib/reply.js
  test/internals/reply.test.js
Labels: bugfix

#933 Fix typescript address test
  fastify.d.ts
  package.json
  test/types/index.ts
Labels: typescript

#938 Add TypeScript definition for onRoute hook
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#940 [Typescript Definition] fix missing headers property on FastifyRequest
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#944 Add fastify.hasRequestDecorator and fastify.hasReplyDecorator
  docs/Decorators.md
  fastify.d.ts
  fastify.js
  lib/decorate.js
  test/decorator.test.js
  test/types/index.ts
Labels: enhancement, semver-minor

#937 WIP: Feature: Custom http server
  docs/Factory.md
  fastify.js
  test/custom-http-server.test.js
Labels: discussion, feature, semver-minor

#949 Update Ecosystem.md
  docs/Ecosystem.md
Labels: documentation, plugin

#886 Block new incoming requests once close has been called
  docs/Server-Methods.md
  fastify.js
  test/close-pipelining.test.js
  test/close.test.js
Labels: enhancement, semver-minor

#954 Added security badge.
  README.md
Labels: documentation

#956 Added fastify-basic-auth plugin
  docs/Ecosystem.md
Labels: documentation, plugin
