Repository fastify/fastify, pull requests merged in 2018-02, with the labels that each got.

#769 Added backlog parameter to listen method #767
  docs/Server-Methods.md
  fastify.js
  test/listen.test.js
Labels: documentation, feature

#770 Configure not-found handlers the same way as route handlers
  fastify.js
  test/404s.test.js
Labels: enhancement

#772 Clean code
  fastify.js
  lib/ContentTypeParser.js
  lib/handleRequest.js
  lib/reply.js
Labels: enhancement

#750 Simplify function handleError in reply.js
  lib/reply.js
Labels: enhancement

#781 Add example code snippet for hasContentTypeParser
  docs/ContentTypeParser.md
Labels: documentation

#779 Add fastify-rob-config to community plugins list
  docs/Ecosystem.md
Labels: documentation, plugin

#784 Added fastify-reply-from and fastify-http-proxy to the ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#771 Make hooks/middleware run in the order in which they are defined
  fastify.js
  test/hooks.test.js
  test/middleware.test.js
Labels: enhancement

#774 Added 'Write-Plugin' documentation
  docs/Write-Plugin.md
Labels: documentation

#785 WIP: Refactor content type parser
  docs/ContentTypeParser.md
  docs/Factory.md
  fastify.js
  lib/ContentTypeParser.js
  lib/handleRequest.js
  package.json
  test/custom-parser-async.js
  test/custom-parser.test.js
  test/helper.js
  test/internals/handleRequest.test.js
  test/jsonBodyLimit.test.js
Labels: breaking change, documentation, feature

#792 Updated Ecosystem.md
  docs/Ecosystem.md
Labels: documentation, plugin

#795 Create a separate hook runner for onSend hooks
  fastify.js
  lib/handleRequest.js
  lib/hookRunner.js
  lib/reply.js
  test/hooks.test.js
  test/internals/hookRunner.test.js
Labels: bugfix

#797 Add .gitattributes to normalize line endings
  .gitattributes
Labels: enhancement

#807 Add fastify-favicon to community plugins list (#806)
  docs/Ecosystem.md
Labels: plugin

#809 ci: Improve format of output errors
  .travis.yml
  appveyor.yml
Labels: enhancement

#802 Fix FastifyInstance::ready type definition
  fastify.d.ts
  test/types/index.ts
Labels: enhancement

#800 Add support for per-parser body limits
  docs/ContentTypeParser.md
  fastify.js
  lib/ContentTypeParser.js
  test/custom-parser.test.js
Labels: feature

#813 Use writeHead instead of setHeader/getHeader.
  .gitignore
  examples/example.js
  lib/handleRequest.js
  lib/reply.js
  test/hooks.test.js
  test/internals/handleRequest.test.js
  test/internals/reply.test.js
Labels: enhancement, performances

#814 Add FastifyInstance::after typescript definition
  fastify.d.ts
  test/types/index.ts
Labels: enhancement

#776 Avoid to log if the log is not set
  fastify.js
Labels: enhancement, performances
