Repository fastify/fastify, pull requests merged in 2018-03, with the labels that each got.

#819 Fix linking to factory function options from Server Methods
  docs/Server-Methods.md
Labels: documentation

#816 Header name is case insensitive in the schema definition
  lib/validation.js
  test/get.test.js
Labels: enhancement

#821 Remove fastify-register-timeout add fastify-elasticsearch
  docs/Ecosystem.md
Labels: documentation, plugin

#822 Future-proof checking Node version
  fastify.js
  test/hooks.test.js
  test/reply-error.test.js
Labels: enhancement

#827 fix responseTime regression
  fastify.js
  lib/logger.js
  package.json
  test/internals/logger.test.js
  test/logger.test.js
Labels: bugfix

#831 Use separate Fastify instances for route tests
  test/route.test.js
Labels: enhancement

#832 Updated benchmarks
  README.md
Labels: documentation

#836 Fix setting header multiple times and add utility methods (fix #834)
  docs/Reply.md
  lib/reply.js
  test/internals/reply.test.js
Labels: bugfix, enhancement, semver-minor

#837 Store the 404 Context directly on the route Context
  fastify.js
  lib/reply.js
Labels: enhancement

#838 Update LTS release date
  docs/LTS.md
Labels: documentation

#839 Fix encapsulation of 404 handlers
  fastify.js
  test/404s.test.js
Labels: bugfix

#853 Added LTS in ToC
  README.md
Labels: documentation

#855 Update to find my way 1.11.0
  package.json
  test/404s.test.js
  test/405.test.js
Labels: internals

#857 Add reply serialize test
  test/internals/reply.test.js
Labels: internals

#862 Better handling of 404 routes
  lib/handleRequest.js
  test/404s.test.js
  test/405.test.js
Labels: bugfix, discussion

#866 [docs] Fix broken links
  docs/Reply.md
Labels: documentation
