Repository fastify/fastify, pull requests merged in 2018-04, with the labels that each got.

#869 Fix typo in getting started documentation
  docs/Getting-Started.md
Labels: documentation

#870 Run onSend hooks when an encapsulated handler invokes the notFound handler
  fastify.js
  test/404s.test.js
  test/internals/logger.test.js
  test/internals/reply.test.js
  test/logger.test.js
Labels: bugfix

#871 Add fastify-sensible to ecosystem list
  docs/Ecosystem.md
Labels: documentation, plugin

#873 Promise error handling in "listen()"
  fastify.js
  test/listen.test.js
Labels: bugfix

#865 Added content type parsing to TypeScript types. [#858]
  fastify.d.ts
  test/types/index.ts
Labels: enhancement

#881 typescript: support logger option as a boolean
  fastify.d.ts
  test/types/index.ts
Labels: bugfix

#887 log message when promise is fullfilled with undefined
  lib/handleRequest.js
  test/async-await.js
Labels: enhancement, semver-minor

#878 Segregate `async/await` and `next` hook forms in documentation
  docs/Hooks.md
Labels: documentation

#889 [ci skip] update doc
  docs/Routes.md
Labels: documentation

#891 add .removeHeader()
  docs/Reply.md
  lib/reply.js
  test/internals/reply.test.js
Labels: bugfix, documentation, feature

#890 Update decorator docs with example
  docs/Decorators.md
Labels: documentation

#895 Allow parsing empty request bodies
  lib/ContentTypeParser.js
  test/custom-parser.test.js
Labels: bugfix

#905 chore(package): update simple-get to version 3.0.1
  package.json
Labels: internals

#910 makes input schema required headers validation case insensitive
  lib/validation.js
  test/input-validation.test.js
Labels: bugfix

#914 enforce utf8 as default charset
  docs/ContentTypeParser.md
  docs/Reply.md
  docs/Testing.md
  lib/reply.js
  test/helper.js
  test/hooks.test.js
  test/internals/reply.test.js
Labels: enhancement, semver-minor

#915 Adds fastify-language-parser to community list
  docs/Ecosystem.md
Labels: documentation, plugin
