Repository fastify/fastify, pull requests merged in 2018-11, with the labels that each got.

#1245 Move all _ prefixed properties to Symbols
  lib/reply.js
  lib/symbols.js
  lib/wrapThenable.js
  test/hooks.test.js
  test/internals/reply.test.js
Labels: semver-major

#1228 Plugin double prefix
  docs/Routes.md
  fastify.js
  test/route-prefix.test.js
Labels: semver-major

#1236 WIP: onError hook
  docs/Hooks.md
  fastify.d.ts
  fastify.js
  lib/hooks.js
  lib/reply.js
  lib/symbols.js
  test/hooks.test.js
  test/internals/handleRequest.test.js
  test/internals/hooks.test.js
  test/types/index.ts
Labels: documentation, feature, semver-major, typescript

#1257 Fix typo in README
  docs/Reply.md
Labels: documentation

#1264 Add listen notice for GCP
  README.md
Labels: documentation

#1255 Document log redaction
  docs/Logging.md
  test/logger.test.js
Labels: documentation

#1270 Custom querystring
  docs/Server.md
  fastify.js
  test/custom-querystring-parser.test.js
Labels: feature, semver-major

#1277 Merge next in master
  .travis.yml
  docs/Errros.md
  docs/Hooks.md
  docs/Lifecycle.md
  docs/Logging.md
  docs/Reply.md
  docs/Routes.md
  docs/Server.md
  examples/hooks-benchmark.js
  examples/hooks.js
  fastify.d.ts
  fastify.js
  lib/contentTypeParser.js
  lib/decorate.js
  lib/errors.js
  lib/handleRequest.js
  lib/hookRunner.js
  lib/hooks.js
  lib/logger.js
  lib/pluginUtils.js
  lib/reply.js
  lib/reqIdGenFactory.js
  lib/schemas.js
  lib/symbols.js
  lib/wrapThenable.js
  package.json
  test/404s.test.js
  test/500s.test.js
  test/beforeHandler.test.js
  test/content-length.test.js
  test/custom-parser.test.js
  test/custom-querystring-parser.test.js
  test/decorator.test.js
  test/genReqId.test.js
  test/helper.js
  test/hooks-async.js
  test/hooks.test.js
  test/internals/decorator.test.js
  test/internals/errors.test.js
  test/internals/handleRequest.test.js
  test/internals/hookRunner.test.js
  test/internals/hooks.test.js
  test/internals/logger.test.js
  test/internals/plugin.test.js
  test/internals/reply.test.js
  test/logger.test.js
  test/middleware.test.js
  test/plugin.test.js
  test/reply-error.test.js
  test/request-error.test.js
  test/route-prefix.test.js
  test/router-options.test.js
  test/shared-schemas.test.js
  test/stream.test.js
  test/throw.test.js
  test/types/index.ts
Labels: chore

#1267 clarification on LTS support
  docs/LTS.md
Labels: documentation

#1282 chore: pin ajv to 6.5.5
  package.json
Labels: chore

#1286 Add fastify-cockroachdb to Community plugins
  docs/Ecosystem.md
Labels: plugin
