Repository fastify/fastify, pull requests merged in 2018-09, with the labels that each got.

#1128 Hide internals with symbols
  fastify.js
  lib/decorate.js
  lib/pluginUtils.js
  lib/reply.js
  lib/symbols.js
  test/500s.test.js
  test/decorator.test.js
  test/hooks.test.js
  test/internals/plugin.test.js
  test/middleware.test.js
  test/shared-schemas.test.js
Labels: internals, semver-major

#1132 after should not cause inject() to be called
  fastify.js
  test/inject.test.js
Labels: internals

#1134 Handle promises in the error handler with the same logic of normal handlers
  lib/handleRequest.js
  lib/reply.js
  lib/wrapThenable.js
  test/async-await.js
Labels: internals

#1145 Change default plugin timeout to 10 seconds instead of 0
  docs/Server.md
  fastify.js
  package.json
  test/plugin.test.js
Labels: semver-major

#1130 Error Handling Documentation
  README.md
  docs/Error-Handling.md
Labels: documentation

#1167 Update genReqId test name
  test/genReqId.test.js
Labels: internals

#1171 Updated README and tap runner
  README.md
  package.json
Labels: documentation, internals

#1172 fix the logic of convert chunk segement into string
  lib/contentTypeParser.js
  test/helper.js
  test/internals/contentTypeParser.test.js
Labels: bugfix

#1178 Fix support for latest Joi
  lib/validation.js
Labels: enhancement

#1179 Complete support for Joi. Added test
  lib/schemas.js
  lib/validation.js
  test/internals/validation.test.js
Labels: enhancement, internals

#1141 added fastify-jwt-webapp
  docs/Ecosystem.md
Labels: documentation, plugin

#1187 Fix content length on utf8 charset
  lib/contentTypeParser.js
  test/internals/contentTypeParser.test.js
Labels: bug, bugfix

#1189 Update Ecosystem.md
  docs/Ecosystem.md
Labels: documentation

#1183 Change basePath to prefix
  docs/Server.md
  fastify.js
  test/route-prefix.test.js
Labels: semver-major

#1191 Add fastify-oas and fastify-metric to Ecosystem.md
  docs/Ecosystem.md
Labels: documentation, plugin
