Repository fastify/fastify, pull requests merged in 2018-06, with the labels that each got.

#960 add custom https server tests
  test/https/custom-https-server.test.js
Labels: internals

#963 add-content-type-parser-definition
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#967 Support array syntax to handle multiple content types as the same
  docs/ContentTypeParser.md
  fastify.js
  test/custom-parser.test.js
Labels: enhancement

#966 support for error headers in 404 handler
  lib/reply.js
  test/404s.test.js
Labels: enhancement

#965 Remove `error` parameter from node `listen` callback
  fastify.js
Labels: internals

#979 Add fastify-oauth2 to Ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#974 Added support for versioned routes
  docs/Routes.md
  fastify.js
  lib/logger.js
  package.json
  test/versioned-routes.test.js
Labels: feature, semver-minor

#964 fix(): return url from listen method
  README.md
  docs/Getting-Started.md
  docs/Server-Methods.md
  examples/simple.js
  fastify.d.ts
  fastify.js
  test/listen.test.js
Labels: enhancement

#986 Add .status() alias for .code()
  docs/Reply.md
  fastify.d.ts
  lib/reply.js
  test/internals/reply.test.js
Labels: documentation, semver-minor

#987 Add support for decorating with a getter/setter object
  docs/Decorators.md
  lib/decorate.js
  test/decorator.test.js
  test/internals/decorator.test.js
Labels: enhancement, semver-minor

#991 Add fastify-soap-client plugin in ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#990 Add type test for '.status()'
  test/types/index.ts
Labels: internals, typescript

#985 Add test for retuning sock file path on listen
  fastify.js
  test/listen.test.js
Labels: enhancement

#782 Add fastify-xml-body-parser in community list
  docs/Ecosystem.md
Labels: documentation, plugin

#997 fix syntax in doc
  docs/Plugins-Guide.md
Labels: documentation

#1001 Add missing documentation links
  README.md
Labels: documentation

#1000 fix listen ts types
  fastify.d.ts
  test/listen.test.js
  test/types/index.ts
Labels: typescript
