Repository fastify/fastify, pull requests merged in 2018-10, with the labels that each got.

#1201 Bumped avvio to 6.0.0.
  package.json
Labels: semver-major

#1168 Feature/better error management
  docs/Errros.md
  lib/contentTypeParser.js
  lib/decorate.js
  lib/errors.js
  lib/hooks.js
  lib/logger.js
  lib/reply.js
  lib/schemas.js
  test/custom-parser.test.js
  test/decorator.test.js
  test/internals/decorator.test.js
  test/internals/errors.test.js
  test/internals/handleRequest.test.js
  test/internals/hooks.test.js
  test/plugin.test.js
  test/reply-error.test.js
  test/shared-schemas.test.js
  test/throw.test.js
Labels: semver-major

#1163 Ensure Reply#serialize uses custom serializer
  docs/Reply.md
  lib/reply.js
  test/internals/logger.test.js
  test/internals/reply.test.js
Labels: enhancement, semver-major

#1222 typings: fix allowHTTP1 flag for http2 servers
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#1223 Prevent losing stacktrace onEnd
  lib/contentTypeParser.js
Labels: enhancement

#1234 Remove `then-sleep`
  package.json
  test/async-await.js
  test/hooks-async.js
Labels: test

#1135 Default error handler that logs the error
  docs/Reply.md
  docs/Server.md
  fastify.js
  lib/reply.js
  test/internals/reply.test.js
  test/logger.test.js
  test/stream.test.js
Labels: breaking change, semver-major
