Repository fastify/fastify, pull requests merged in 2018-08, with the labels that each got.

#1063 Update TypeScript.md
  docs/TypeScript.md
Labels: documentation

#1066 Hooks: always use fastify core objects
  docs/Hooks.md
  examples/hooks-benchmark.js
  examples/hooks.js
  fastify.d.ts
  fastify.js
  lib/ContentTypeParser.js
  lib/handleRequest.js
  lib/hookRunner.js
  lib/hooks.js
  lib/logger.js
  lib/reply.js
  test/404s.test.js
  test/500s.test.js
  test/hooks-async.js
  test/hooks.test.js
  test/internals/handleRequest.test.js
  test/internals/hookRunner.test.js
  test/internals/hooks.test.js
  test/internals/reply.test.js
  test/middleware.test.js
  test/reply-error.test.js
  test/types/index.ts
Labels: documentation, internals, semver-major, typescript

#1076 Added fastify-cors to ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#1082 Set UTF8 charset for default 404 and 500 responses
  lib/reply.js
  test/404s.test.js
  test/500s.test.js
  test/internals/reply.test.js
  test/reply-error.test.js
  test/stream.test.js
Labels: bugfix

#1086 Trust proxy
  docs/Factory.md
  fastify.d.ts
  fastify.js
  lib/logger.js
  package.json
  test/trust-proxy.test.js
Labels: documentation, feature, semver-minor

#1088 Added pluginTimeout option.
  docs/Factory.md
  fastify.js
  package.json
  test/plugin.test.js
Labels: semver-minor

#1084 Updated Not found handling
  docs/Reply.md
  lib/reply.js
  test/404s.test.js
  test/internals/reply.test.js
Labels: documentation, enhancement, semver-major

#1065 Pino v5
  docs/Logging.md
  lib/logger.js
  package.json
  test/logger.test.js
Labels: semver-major

#1094 Update Validation-and-Serialization.md
  docs/Validation-and-Serialization.md
Labels: documentation

#1101 Move Server-Methods into Factory
  README.md
  docs/ContentTypeParser.md
  docs/Factory.md
  docs/Logging.md
  docs/Reply.md
  docs/Routes.md
  docs/Server.md
Labels: documentation

#1114 Fix decorate{Request, Reply} not recognizing getter/setter config
  lib/decorate.js
  test/decorator.test.js
Labels: bugfix

#1119 Revert "Log error after customErrorHandler (#1073)"
  lib/reply.js
  test/logger.test.js
Labels: bugfix

#1121 Updated standard to v12.
  package.json
  test/404s.test.js
  test/bodyLimit.test.js
  test/context-config.test.js
  test/decorator.test.js
  test/handler-context.test.js
  test/hooks.test.js
  test/input-validation.js
  test/internals/reply.test.js
  test/logger.test.js
  test/route.test.js
  test/shared-schemas.test.js
  test/trust-proxy.test.js
  test/types/index.ts
Labels: internals
