Repository fastify/fastify, pull requests merged in 2018-07, with the labels that each got.

#1005 Feature/#713 beforeHandler for setNotFoundHandler
  docs/Server-Methods.md
  fastify.js
  test/404s.test.js
Labels: feature, semver-minor

#1008 Resolves issue #1006
  test/beforeHandler.test.js
Labels: internals

#996 Update Middlewares.md
  docs/Middlewares.md
Labels: documentation

#1017 Support case insensitivity.
  docs/Factory.md
  fastify.js
  package.json
  test/case-insensitive.test.js
Labels: feature, semver-minor

#1024 Configure request id header key
  docs/Factory.md
  docs/Logging.md
  fastify.js
  lib/logger.js
  test/logger.test.js
Labels: enhancement, semver-minor

#1026 Add test for checking multipart request using form-data module
  package.json
  test/inject.test.js
Labels: enhancement

#1030 test: add test case for request.id
  test/internals/handleRequest.test.js
Labels: internals

#1031 Fixed homepage field
  package.json
Labels: documentation, enhancement

#1036 Update Factory.md
  docs/Factory.md
Labels: documentation

#1033 fix: if response.setHeader is used, will cause header write after send error
  lib/reply.js
  test/internals/reply.test.js
Labels: bugfix

#1032 feat: remove `req.id` in serializer
  lib/logger.js
  test/logger.test.js
Labels: enhancement, semver-major

#1034 Fix links
  docs/Factory.md
  docs/Logging.md
Labels: documentation

#1041 Fix typos in Server-Methods.md
  docs/Server-Methods.md
Labels: documentation

#1046 Add method to get all shared schemas
  docs/Validation-and-Serialization.md
  fastify.d.ts
  fastify.js
  lib/schemas.js
  test/shared-schemas.test.js
Labels: semver-minor

#993 Change order of Plugins-Guide.md
  docs/Plugins-Guide.md
Labels: discussion, documentation

#1047 Listen to localhost instead of 127.0.0.1.
  README.md
  docs/Server-Methods.md
  fastify.js
Labels: enhancement

#1027 Resolves issue #936
  lib/handleRequest.js
  test/custom-parser.test.js
  test/delete.test.js
  test/helper.js
  test/internals/handleRequest.test.js
Labels: bugfix

#1050 Fixes #1043
  lib/schemas.js
  test/shared-schemas.test.js
Labels: bugfix

#1051 Fixed the bug in redirect exposed in #1049
  docs/Reply.md
  lib/reply.js
  test/internals/reply.test.js
Labels: bugfix

#1053 Added fastify-vhost plugin
  docs/Ecosystem.md
Labels: documentation, plugin
