Repository fastify/fastify, pull requests merged in 2019-08, with the labels that each got.

#1785 Add toStrinTag to errors
  lib/errors.js
  test/internals/errors.test.js
Labels: enhancement, internals

#1791 typo: typescript-server.ts
  examples/typescript-server.ts
Labels: documentation, typescript

#1786 Remove code from error name
  lib/errors.js
  test/content-length.test.js
  test/custom-parser.test.js
  test/decorator.test.js
  test/helper.js
  test/http2/missing-http2-module.test.js
  test/internals/decorator.test.js
  test/internals/errors.test.js
  test/internals/handleRequest.test.js
  test/internals/hooks.test.js
  test/internals/initialConfig.test.js
  test/internals/logger.test.js
  test/internals/reply.test.js
  test/plugin.test.js
  test/reply-error.test.js
  test/shared-schemas.test.js
  test/throw.test.js
Labels: internals, semver-major

#1792 Add request property to reply documentation
  docs/Reply.md
  fastify.d.ts
  test/types/index.ts
Labels: bugfix, documentation, typescript

#1794 Use .isFluentSchema instead of symbol to check for fluent-schema
  lib/schemas.js
  lib/validation.js
  package.json
Labels: internals, semver-minor

#1806 Ensure that header properties are not duplicated in schema
  lib/validation.js
  test/internals/validation.test.js
Labels: bugfix, v2.x

#1801 docs(Hooks): Add each Hook to a title
  docs/Hooks.md
Labels: documentation

#1811 Docs(typescript) and other typos
  docs/Errors.md
  docs/Server.md
  docs/Serverless.md
  docs/TypeScript.md
Labels: documentation, typescript

#1810 docs(Hooks): modify description for Request/Reply hooks and the content
  docs/Hooks.md
Labels: documentation

#1813 plugin for autogenerate crud route
  docs/Ecosystem.md
Labels: documentation, plugin

#1569 TypeScript Refactor
  fastify.d.ts
  fastify.js
  package.json
  test/imports.test.js
  test/types/content-type-parser.test-d.ts
  test/types/fastify.test-d.ts
  test/types/hooks.test-d.ts
  test/types/index.ts
  test/types/logger.test-d.ts
  test/types/plugin.test-d.ts
  test/types/route.test-d.ts
  test/types/serverFactory.test-d.ts
  test/types/tsconfig.json
  types/.eslintrc.json
  types/content-type-parser.d.ts
  types/context.d.ts
  types/error.d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/logger.d.ts
  types/middleware.d.ts
  types/plugin.d.ts
  types/register.d.ts
  types/reply.d.ts
  types/request.d.ts
  types/route.d.ts
  types/schema.d.ts
  types/serverFactory.d.ts
  types/tsconfig.json
  types/utils.d.ts
Labels: typescript

#1808 Schema build error
  docs/Errors.md
  lib/errors.js
  lib/route.js
  test/throw.test.js
Labels: enhancement, v2.x

#1824 Added Zeit Now docs
  docs/Serverless.md
  package.json
Labels: documentation
