Repository fastify/fastify, pull requests merged in 2019-07, with the labels that each got.

#1728 docs(Ecosystem): Add plugin community fastify-reverse-routes
  docs/Ecosystem.md
Labels: plugin

#1713 Drop nodejs 6 for next (Fastify 3)
  README.md
  build/azure-pipelines-npm-template.yml
  build/azure-pipelines-yarn-template.yml
  docs/Benchmarking.md
  docs/ContentTypeParser.md
  docs/HTTP2.md
  docs/LTS.md
  lib/reply.js
  package.json
  test/async-await.js
  test/async-await.test.js
  test/fluent-schema.js
  test/fluent-schema.test.js
  test/hooks-async.js
  test/hooks-async.test.js
  test/hooks.test.js
  test/http2/closing.test.js
  test/http2/http2.test.js
  test/http2/missing-http2-module.test.js
  test/http2/plain.test.js
  test/http2/secure-with-fallback.test.js
  test/http2/secure.test.js
  test/http2/unknown-http-method.test.js
  test/reply-error.test.js
Labels: internals, v3.x

#1731 docs(Ecosystem): Add cls-rtracer community plugin
  docs/Ecosystem.md
Labels: documentation, plugin

#1732 Drop nodejs 6 from dependencies for next
  docs/Validation-and-Serialization.md
  package.json
  test/input-validation.js
  test/internals/initialConfig.test.js
  test/post.test.js
  test/validation-error-handling.test.js
Labels: v3.x

#1718 Update Server.md
  docs/Server.md
Labels: documentation

#1743 Update Routes.md
  docs/Routes.md
Labels: bug, documentation

#1723 Avoid return 503 after closing fastify
  docs/Server.md
  fastify.d.ts
  fastify.js
  lib/route.js
  test/close-pipelining.test.js
  test/close.test.js
  test/http2/closing.js
  test/types/index.ts
Labels: semver-minor, v2.x

#1750 Remove old/deprecated code for Fastify v3
  fastify.js
  lib/fourOhFour.js
  lib/warnings.js
  test/emit-warning.test.js
  test/internals/initialConfig.test.js
  test/route-hooks.test.js
Labels: semver-major

#1751 change code examples in Reply documentation
  docs/Reply.md
Labels: documentation

#1752 tap --no-esm
  package.json
Labels: test

#1739 docs(Hooks): Add payload inside example to prevent bugs
  docs/Hooks.md
Labels: bug, documentation

#1762 docs(Ecosystem): Add fastify-no-additional-properties community plugin
  docs/Ecosystem.md
Labels: documentation, plugin

#1738 security policy
  SECURITY.md
Labels: documentation

#1756 Change the `next` to `done` inside documentation
  docs/Decorators.md
  docs/Hooks.md
  docs/Logging.md
  docs/Plugins-Guide.md
  docs/Plugins.md
  docs/Routes.md
  docs/Server.md
  docs/Validation-and-Serialization.md
Labels: documentation

#1764 docs(Plugins): Fix typo
  docs/Plugins.md
Labels: documentation

#1768 Fix bug regarding Joi schemas (issue #1767)
  lib/schemas.js
  test/route.test.js
Labels: bugfix

#1766 chore: change async hooks warning to error for next version
  fastify.js
  test/hooks-async.test.js
Labels: enhancement, semver-major, v3.x

#1748 docs: simplify serverless usage
  docs/Serverless.md
Labels: documentation

#1774 test: change hooks test cases from next to done
  test/hooks.test.js
Labels: test

#1775 better typing for headers object
  fastify.d.ts
Labels: typescript, v2.x

#1778 Ensure we are not running the handler if reply.sent is true
  lib/handleRequest.js
  package.json
  test/hooks-async.js
Labels: bugfix, v2.x

#1770 Added Google Cloud Run docs
  docs/Serverless.md
Labels: documentation
