Repository fastify/fastify, pull requests merged in 2019-10, with the labels that each got.

#1882 fix schema resolver for plain id
  fastify.d.ts
  lib/schemas.js
  package.json
  test/schemas.test.js
  test/types/index.ts
Labels: bugfix, v2.x

#1890 doc fix: add .headers to reply docs
  docs/Reply.md
Labels: documentation

#1892 Reply status code
  docs/Reply.md
  lib/reply.js
  test/internals/reply.test.js
Labels: semver-minor, v2.x

#1891 Test: After can access to decorations registered into plugin
  test/decorator.test.js
Labels: test

#1899 Add type definition for genReqId option
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#1903 Add missing fluent schema link
  README.md
Labels: documentation

#1911 adds community plugin to ecosystem fastify-https-redirect
  docs/Ecosystem.md
Labels: documentation, plugin

#1901 Add log serializer
  docs/Hooks.md
  docs/Plugins.md
  docs/Routes.md
  fastify.d.ts
  fastify.js
  lib/context.js
  lib/route.js
  lib/symbols.js
  test/hooks.test.js
  test/logger.test.js
Labels: semver-minor, v2.x

#1906 Added fastify-qs plugin
  docs/Ecosystem.md
Labels: documentation, plugin

#1888 Handle invalid url components
  fastify.js
  package.json
  test/404s.test.js
Labels: bugfix, v2.x
