Repository fastify/fastify, pull requests merged in 2020-06, with the labels that each got.

#2306 Bind error handler to instance (v3)
  docs/Server.md
  fastify.js
  test/request-error.test.js
Labels: semver-minor, v3.x

#2305 Bind error handler to instance (v2)
  docs/Server.md
  fastify.d.ts
  fastify.js
  test/request-error.test.js
Labels: semver-minor, v2.x

#2309 Fix hateoas json support
  lib/reply.js
  test/internals/reply.test.js
Labels: semver-minor, v2.x

#2299 Add missing properties in FastifyRequest and FastifyReply
  docs/TypeScript.md
  fastify.d.ts
  test/types/hooks.test-d.ts
  test/types/reply.test-d.ts
  test/types/request.test-d.ts
  test/types/serverFactory.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/register.d.ts
  types/reply.d.ts
  types/request.d.ts
  types/route.d.ts
  types/utils.d.ts
Labels: typescript, v3.x

#2332 Update Errors.md
  docs/Errors.md
Labels: documentation

#2296 On ready backport
  docs/Hooks.md
  fastify.js
  lib/hooks.js
  lib/symbols.js
  package.json
  test/hooks.on-ready.async.js
  test/hooks.on-ready.test.js
Labels: semver-minor, v2.x

#2333 fix ready order execution
  lib/hooks.js
  test/hooks.on-ready.test.js
Labels: bugfix, v3.x

#2335 Allow TS type augmentation for Fastify.prototype.use
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: bugfix, typescript, v3.x

#2342 add fastify-raw-body to Ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin, v3.x

#2345 correct typings for ready()
  fastify.d.ts
  test/types/index.ts
Labels: bugfix, typescript, v2.x

#2351 Add `PATCH` to `body` validation
  docs/Validation-and-Serialization.md
Labels: documentation

#2339 Move createError utility to its own package
  docs/Plugins-Guide.md
  fastify.d.ts
  fastify.js
  lib/contentTypeParser.js
  lib/decorate.js
  lib/errors.js
  lib/hooks.js
  lib/initialConfigValidation.js
  lib/logger.js
  lib/reply.js
  lib/route.js
  lib/schemas.js
  lib/server.js
  lib/wrapThenable.js
  package.json
  test/internals/errors.test.js
  test/middleware.test.js
  test/router-options.test.js
  test/types/hooks.test-d.ts
  test/types/route.test-d.ts
  types/error.d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/logger.d.ts
  types/plugin.d.ts
Labels: discussion, plugin, v3.x

#2349 add test to verify ND-JSON content is not serialized as JSON
  test/internals/reply.test.js
Labels: test, v3.x
