Repository fastify/fastify, pull requests merged in 2020-03, with the labels that each got.

#2077 fix add schema conflict
  lib/route.js
  package.json
  test/route.test.js
  test/schemas.test.js
Labels: bugfix, v2.x

#2106 feat(#1930): added option to overrind onBadUrl callback
  docs/Errors.md
  docs/Server.md
  fastify.js
  lib/errors.js
  test/router-options.test.js
Labels: discussion, semver-minor, v2.x, v3.x

#2125 quicker quick start + request to add to core contributors
  README.md
Labels: documentation

#2126 docs: Clarify thrown values must be Errors
  docs/Reply.md
Labels: documentation

#2127 Update decorators documentation
  docs/Decorators.md
Labels: documentation

#2128 feat(decorators): throw error if called after start
  lib/decorate.js
  lib/errors.js
  test/decorator.test.js
  test/internals/decorator.test.js
Labels: bugfix, v2.x

#2133 Improve ci.yml
  .github/workflows/ci.yml
Labels: chore, internals

#2132 Remove Gitter links
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/regression.md
  .github/ISSUE_TEMPLATE/security.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: documentation

#2136 fix test ready-start order
  test/decorator.test.js
Labels: bugfix, test

#2014 Remove middlewares
  docs/Getting-Started.md
  docs/Hooks.md
  docs/Lifecycle.md
  docs/Middleware.md
  docs/Plugins-Guide.md
  docs/Server.md
  examples/middleware.js
  examples/typescript-server.ts
  fastify.js
  lib/errors.js
  lib/fourOhFour.js
  lib/middleware.js
  lib/route.js
  lib/symbols.js
  package.json
  test/404s.test.js
  test/hooks.test.js
  test/middleware.test.js
  types/instance.d.ts
Labels: discussion, semver-major, v3.x

#2135 merge master in next
  .github/ISSUE_TEMPLATE/bug.md
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  build/build-validation.js
  docs/Decorators.md
  docs/Ecosystem.md
  docs/Errors.md
  docs/Hooks.md
  docs/Plugins-Guide.md
  docs/Plugins.md
  docs/Reply.md
  docs/Routes.md
  docs/Server.md
  docs/Testing.md
  docs/TypeScript.md
  docs/Validation-and-Serialization.md
  fastify.d.ts
  fastify.js
  lib/configValidator.js
  lib/decorate.js
  lib/errors.js
  lib/hooks.js
  lib/reply.js
  lib/route.js
  lib/schemas.js
  lib/server.js
  package.json
  test/async-await.test.js
  test/decorator.test.js
  test/esm/esm.mjs
  test/esm/index.test.js
  test/esm/other.mjs
  test/esm/plugin.mjs
  test/fluent-schema.test.js
  test/genReqId.test.js
  test/hooks-async.test.js
  test/hooks.test.js
  test/http2/closing.test.js
  test/http2/plain.test.js
  test/input-validation.js
  test/internals/decorator.test.js
  test/internals/initialConfig.test.js
  test/internals/reply.test.js
  test/internals/validation.test.js
  test/logger.test.js
  test/reply-error.test.js
  test/route-hooks.test.js
  test/route.test.js
  test/router-options.test.js
  test/schema-examples.test.js
  test/schema-feature.test.js
Labels: chore, discussion, v3.x

#2042 Remove middleware types/Fix hook definitions
  fastify.d.ts
  test/types/hooks.test-d.ts
  test/types/route.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/middleware.d.ts
  types/route.d.ts
Labels: semver-major, typescript, v3.x

#2145 add more checks for schema compiler pool
  test/schema-feature.test.js
Labels: test, v3.x

#2149 test for issue #2148 where typedefs for query params object were wrong
  package.json
  test/types/index.ts
Labels: test, typescript

#2162 Replace greenkeeper with dependabot
  .dependabot/config.yml
  package.json
Labels: chore

#2154 Add a getHeaders() method to Reply
  docs/Reply.md
  lib/reply.js
  test/internals/reply.test.js
  types/reply.d.ts
Labels: semver-major, v3.x

#2165 add fastify-method-override to ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#2167 fix inject response types
  types/instance.d.ts
Labels: bugfix, typescript

#1966 [WIP] Typescript docs
  docs/TypeScript.md
  fastify.d.ts
  types/instance.d.ts
  types/plugin.d.ts
  types/register.d.ts
  types/reply.d.ts
  types/request.d.ts
Labels: discussion, documentation, typescript, v3.x
