Repository fastify/fastify, pull requests merged in 2020-02, with the labels that each got.

#2076 Add missing TS definition for ServerOptions.genReqId function arg
  docs/Server.md
  fastify.d.ts
  test/genReqId.test.js
  test/logger.test.js
  test/types/index.ts
Labels: typescript

#2074 fix: throw hooks promise rejection (#2070)
  docs/Errors.md
  lib/errors.js
  lib/hooks.js
  test/hooks.test.js
Labels: bugfix, v2.x

#2066 use overloads for stricter type inference
  fastify.d.ts
  test/types/fastify.test-d.ts
  test/types/logger.test-d.ts
  types/utils.d.ts
Labels: typescript, v3.x

#2080 Do not show warnings in tests
  test/emit-warning.test.js
  test/internals/handleRequest.test.js
  test/internals/reply.test.js
Labels: test

#2079 Add docs to stop processing hooks with async
  docs/Hooks.md
  test/hooks-async.js
  test/hooks.test.js
Labels: documentation

#2073 Add support for sync routes
  docs/Errors.md
  lib/handleRequest.js
  test/error-in-post.test.js
  test/sync-routes.test.js
Labels: semver-major, v3.x

#2084 Added fastify-esso plugin
  docs/Ecosystem.md
Labels: documentation, plugin

#2086 Add connectionTimeout option
  build/build-validation.js
  docs/Server.md
  fastify.d.ts
  fastify.js
  lib/configValidator.js
  lib/server.js
  test/connectionTimeout.test.js
  test/internals/initialConfig.test.js
  test/keepAliveTimeout.test.js
Labels: v3.x

#2082 Throws error if undefined status code is sent
  lib/errors.js
  lib/reply.js
  test/reply-error.test.js
Labels: bugfix, v2.x

#2095 chore: greenkeeper ignore semver
  package.json
Labels: chore, v2.x

#2092 Fix inaccurate type of `setErrorHandler`
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#2093 Update to avvio@7.0.0-alpha.0
  docs/Plugins.md
  docs/Server.md
  package.json
  test/register.test.js
Labels: semver-major, v3.x

#2100 docs: use computed key when assigning property to request
  docs/Plugins-Guide.md
Labels: documentation

#2102 types: add type of `this` to the not found handler
  fastify.d.ts
  test/types/index.ts
Labels: typescript

#2103 docs: fix header and body generic types
  docs/TypeScript.md
Labels: documentation, typescript

#2108 fix: multiple route same schema
  lib/schemas.js
  lib/symbols.js
  test/hooks.test.js
  test/route.test.js
Labels: bugfix, v2.x

#2121 docs: Clarify reply.redirect status code docs
  docs/Reply.md
Labels: documentation

#2122 ci: update checkout action
  .github/workflows/ci.yml
Labels: chore
