Repository fastify/fastify, pull requests merged in 2020-11, with the labels that each got.

#2667 feat: delete var syntax
  examples/parser.js
  fastify.js
  lib/contentTypeParser.js
  lib/context.js
  lib/decorate.js
  lib/fourOhFour.js
  lib/handleRequest.js
  lib/hooks.js
  lib/logger.js
  lib/pluginUtils.js
  lib/reply.js
  lib/reqIdGenFactory.js
  lib/route.js
  lib/schemas.js
  lib/server.js
  lib/validation.js
  package.json
  test/404s.test.js
  test/async-await.test.js
  test/custom-parser-async.test.js
  test/custom-parser.test.js
  test/helper.js
  test/hooks.test.js
  test/http2/head.test.js
  test/http2/plain.test.js
  test/http2/secure-with-fallback.test.js
  test/http2/secure.test.js
  test/http2/unknown-http-method.test.js
  test/https/https.test.js
  test/inject.test.js
  test/internals/all.test.js
  test/internals/hookRunner.test.js
  test/internals/logger.test.js
  test/internals/reply.test.js
  test/logger.test.js
  test/reply-error.test.js
  test/route-hooks.test.js
  test/stream.test.js
Labels: internals

#2574 Style Guide Documentation
  docs/Style-Guide.md
Labels: documentation

#2677 fix: automerge for dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: chore

#2679 Added security notice to route versioning docs
  docs/Routes.md
  package.json
  test/pretty-print.test.js
  test/versioned-routes.test.js
Labels: documentation, test

#2652 Fix Markdown list alignment
  docs/TypeScript.md
Labels: hacktoberfest-accepted

#2685 docs: Add fastify-get-head to ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#2609 Checked if error handler is default before setting headers
  docs/Errors.md
  fastify.js
  lib/reply.js
  lib/setErrorHeaders.js
  test/reply-error.test.js
  test/route-hooks.test.js
Labels: semver-major

#2688 feat: add warning on decorate
  docs/Decorators.md
  lib/decorate.js
  lib/warnings.js
  test/decorator.test.js
Labels: semver-minor, v3.x

#2703 Schema error formatter bind to fastify instance
  docs/Server.md
  docs/Validation-and-Serialization.md
  fastify.js
  test/validation-error-handling.test.js
Labels: bugfix, v3.x

#2701 docs: add reply lifecycle
  docs/Lifecycle.md
Labels: documentation

#2712 fix(2711): expose instance.errorHandler in types
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#2691 feat: custom schema applied on errors
  docs/Reply.md
  lib/reply.js
  lib/route.js
  lib/symbols.js
  lib/validation.js
  package.json
  test/hooks.test.js
  test/schema-serialization.test.js
Labels: semver-minor
