Repository fastify/fastify, pull requests merged in 2020-10, with the labels that each got.

#2601 Added ipc types support
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#2579 bug #2578 fix
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: bugfix, typescript

#2612 Move fastify-csrf to core plugins
  docs/Ecosystem.md
Labels: documentation, plugin

#2637 update fastify-gql to mercurius
  docs/Ecosystem.md
Labels: documentation, plugin

#2640 Fix anchor and make standardize refs to redirect
  docs/Reply.md
Labels: bugfix, documentation

#2611 Add `fastify-totp`
  docs/Ecosystem.md
Labels: documentation, plugin

#2615 Add types to async fastify hooks
  types/hooks.d.ts
  types/instance.d.ts
Labels: typescript
