Repository fastify/fastify, pull requests merged in 2020-08, with the labels that each got.

#2451 add routePath in onRoute hook
  docs/Hooks.md
  lib/route.js
  test/hooks.test.js
  test/types/hooks.test-d.ts
  types/hooks.d.ts
Labels: semver-minor, v3.x

#2456 add missing kSchemaVisited symbol var
  lib/symbols.js
  test/internals/validation.test.js
Labels: bugfix, v3.x

#2463 fix schema lock in
  lib/route.js
  lib/schemas.js
  test/schema-feature.test.js
  test/schema-serialization.test.js
Labels: backport 2.x, bugfix, v3.x

#2457 feat: add hook onTimeout
  docs/Hooks.md
  lib/context.js
  lib/hooks.js
  lib/route.js
  test/hooks.test.js
  test/types/hooks.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/route.d.ts
Labels: semver-minor

#2473 We have a discord!
  README.md
Labels: documentation

#2468 Added a section on what to do to became a collaborator
  CONTRIBUTING.md
Labels: documentation

#2477 increase timeout
  test/close-pipelining.test.js
Labels: bugfix, test

#2474 support unWritable props in the logger option
  lib/logger.js
  test/logger.test.js
Labels: bugfix, v3.x

#2450 fix hasContentTypeParser to include native types
  lib/contentTypeParser.js
  test/content-parser.test.js
Labels: bugfix, typescript, v3.x

#2490 ci: avoid unnecessary runs
  .github/workflows/ci.yml
Labels: test

#2489 doc: add discord badge
  README.md
Labels: documentation

#2493 Add type commonjs
  package.json
Labels: internals

#2045 add PROJECT_CHARTER
  PROJECT_CHARTER.md
Labels: discussion, documentation

#2496 docs: follow up PROJECT_CHARTED
  PROJECT_CHARTER.md
Labels: bugfix, documentation

#2503 doc: add scope & route level to Hooks ToC
  docs/Hooks.md
Labels: documentation

#2504 Add fastify-xray to ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#2505 docs: added fastify-socket.io to Ecosystem section
  docs/Ecosystem.md
Labels: documentation, plugin

#2501 add decision making paragraph
  CONTRIBUTING.md
  GOVERNANCE.md
  PROJECT_CHARTER.md
  README.md
Labels: documentation

#2519 Growth stage!
  README.md
Labels: documentation

#2523 Add fastify-dynareg to ecosystem doc.
  docs/Ecosystem.md
Labels: documentation, plugin

#2527 docs: Plugins.md
  docs/Plugins.md
Labels: documentation
