Repository fastify/fastify, pull requests merged in 2020-04, with the labels that each got.

#2171 Update Logging.md
  docs/Logging.md
Labels: documentation

#2170 Add to fastify-qrcode into Ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#2176 Docs for managing errors in an async hook
  docs/Hooks.md
Labels: documentation

#2155 docs: use direct references in the "Schema Resolver" example
  docs/Validation-and-Serialization.md
  test/schemas.test.js
Labels: test, v2.x

#2134 feature: throws object
  docs/Reply.md
  lib/hooks.js
  test/hooks-async.test.js
  test/route-hooks.test.js
Labels: semver-major

#2182 typo in routes doc
  docs/Routes.md
Labels: documentation

#2188 Update fast-json-stringify and avvio
  package.json
Labels: dependencies, v3.x

#2183 Removed server constraints from plugin types
  docs/TypeScript.md
  test/types/plugin.test-d.ts
  types/instance.d.ts
  types/plugin.d.ts
  types/register.d.ts
Labels: typescript, v3.x

#2192 Fix for Link in docs/Middleware
  docs/Middleware.md
Labels: documentation

#2179 change *compiler api
  docs/Routes.md
  docs/Server.md
  docs/Validation-and-Serialization.md
  lib/schema-compilers.js
  lib/validation.js
  test/input-validation.js
  test/internals/handleRequest.test.js
  test/internals/validation.test.js
  test/route.test.js
  test/schema-examples.test.js
  test/schema-feature.test.js
  test/schema-serialization.test.js
  test/schema-validation.test.js
  test/validation-error-handling.test.js
  types/schema.d.ts
Labels: semver-major, v3.x

#2197 Updated find-my-way dependency
  package.json
Labels: dependencies, v3.x

#2196 Updated to reflect new branches
  CONTRIBUTING.md
  README.md
  docs/LTS.md
Labels: documentation, v3.x

#2206 docs: fix spelling errors
  docs/TypeScript.md
  docs/Validation-and-Serialization.md
Labels: documentation

#2208 Add missing type for builder-style injection
  test/types/fastify.test-d.ts
  types/instance.d.ts
Labels: bugfix, typescript, v2.x

#2212 Update Ecosystem.md
  docs/Ecosystem.md
Labels: documentation, plugin

#2210 docs: add i18next-http-middleware
  docs/Ecosystem.md
Labels: documentation, plugin

#2224 fix: adds statusCode to FastifyReply type
  test/types/route.test-d.ts
  types/reply.d.ts
Labels: bugfix, typescript, v3.x

#2225 update dependencies
  .dependabot/config.yml
  package.json
  test/plugin.test.js
Labels: dependencies, v3.x

#2233 http2: fix HEAD requests hanging
  lib/handleRequest.js
  test/http2/head.test.js
  test/internals/handleRequest.test.js
Labels: backport-v2.x, bugfix, v3.x

#2140 docs: Migration Guide v3
  .editorconfig
  docs/Migration-Guide-V3.md
  docs/Validation-and-Serialization.md
  examples/typescript-server.ts
  test/schema-examples.test.js
Labels: documentation, v3.x

#2240 fix(internals): fix typo in handleRequest
  lib/handleRequest.js
  test/internals/handleRequest.test.js
Labels: backport 2.x, bugfix, v3.x

#2241 Log clientError as trace to avoid dev confusion
  fastify.js
Labels: backport 2.x, internals, v3.x

#2244 remove old azure templates
  build/azure-pipelines-npm-template.yml
  build/azure-pipelines-yarn-template.yml
Labels: chore

#2243 Turn onConstructorPoisoning to 'error'
  build/build-validation.js
  lib/configValidator.js
  test/internals/initialConfig.test.js
  test/proto-poisoning.test.js
Labels: v3.x

#2245 Fixed chainable .register() and added test for it
  package.json
  test/register.test.js
Labels: v3.x

#2247 Add missing breaking change
  docs/Migration-Guide-V3.md
Labels: documentation, v3.x
