Repository fastify/fastify, pull requests merged in 2020-12, with the labels that each got.

#2737 Correct typo in type declaration file: factory function
  fastify.d.ts
Labels: typescript

#2695 fix: throw in `onSend` causes fastify to not respond
  lib/hooks.js
  lib/route.js
  test/hooks.test.js
  test/internals/hookRunner.test.js
Labels: bugfix, v3.x

#2731 feat: set undefined on null input
  docs/Hooks.md
  lib/request.js
  lib/validation.js
  test/delete.test.js
  test/helper.js
  test/hooks.test.js
  test/internals/request.test.js
  test/nullable-validation.test.js
Labels: semver-major, v4.x

#2750 Rename fluent-schema to fluent-json-schema
  docs/Fluent-Schema.md
  lib/schemas.js
  package.json
  test/fluent-schema.test.js
Labels: dependencies

#2754 docs(readme): normalize all necessary code snippets to sh
  README.md
Labels: documentation

#2756 docs: fix a few typos
  GOVERNANCE.md
  SECURITY.md
  docs/Ecosystem.md
  docs/Encapsulation.md
  docs/Hooks.md
  docs/Reply.md
  docs/Server.md
  docs/TypeScript.md
Labels: documentation

#2757 chore: remove events.once devDependencies
  package.json
  test/http2/closing.test.js
Labels: chore, dependencies

#2758 Correct method names in documentation and fix a few typos
  docs/TypeScript.md
  fastify.js
  test/404s.test.js
  test/async-await.test.js
  test/decorator.test.js
  test/hooks-async.test.js
  test/hooks.test.js
  test/logger.test.js
  test/plugin.test.js
  test/types/instance.test-d.ts
  test/validation-error-handling.test.js
  test/versioned-routes.test.js
  types/content-type-parser.d.ts
Labels: documentation

#2762 Add fastify-awilix to Ecosystem.md
  docs/Ecosystem.md
Labels: documentation, plugin

#2763 docs: upgrade all http links to https
  CONTRIBUTING.md
  README.md
  docs/ContentTypeParser.md
  docs/Ecosystem.md
  docs/Getting-Started.md
  docs/Routes.md
  docs/TypeScript.md
  docs/Validation-and-Serialization.md
  docs/Write-Plugin.md
Labels: documentation

#2681 Added (probably) missing line for http2 server
  lib/server.js
  test/http2/closing.test.js
Labels: bugfix

#2700 feat: Set HEAD routes automatically for each GET route
  docs/Routes.md
  docs/Server.md
  fastify.d.ts
  fastify.js
  lib/headRoute.js
  lib/route.js
  lib/warnings.js
  test/route.test.js
  types/route.d.ts
Labels: semver-minor
