Repository fastify/fastify, pull requests merged in 2021-04, with the labels that each got.

#2978 fix: doc typo, added 'to'.
  docs/LTS.md
Labels: documentation

#2979 Minor typo fix
  docs/HTTP2.md
Labels: documentation

#2982 Added info on logging from outside route handlers
  docs/Logging.md
Labels: documentation

#2984 Add fastify-mailer and fastify-stripe to the community ecosystem list.
  docs/Ecosystem.md
Labels: documentation, plugin

#2985 adding reference to commonPrefix option in printRoutes documentation
  docs/Server.md
Labels: documentation

#2988 docs(ecosystem): add nstats and fastify-good-sessions to community plugins
  docs/Ecosystem.md
Labels: documentation, plugin

#3002 chore: auto label test
  .github/labeler.yml
Labels: chore

#3008 docs: add fastify-hasura
  docs/Ecosystem.md
Labels: documentation, plugin

#3009 test: fix typos in test messages
  test/internals/handleRequest.test.js
  test/schema-special-usage.test.js
Labels: test

#3011 fix typo in comment
  docs/Hooks.md
Labels: documentation

#3018 fix: remove invalid assertion
  test/types/instance.test-d.ts
Labels: test, typescript

#3028 doc: fix example
  README.md
Labels: documentation

#2981 Typed decorators
  docs/TypeScript.md
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: semver-major, v4.x

#3037 feat(plugins): community plugin oas-fastify
  docs/Ecosystem.md
Labels: documentation, plugin

#3013 Documentation update
  docs/Routes.md
  docs/Validation-and-Serialization.md
Labels: documentation

#3022 docs(lts): update list of ci operating systems
  docs/LTS.md
Labels: documentation

#3044 docs: grammar, spelling, and readability fixes
  docs/Benchmarking.md
  docs/ContentTypeParser.md
  docs/Decorators.md
  docs/Ecosystem.md
  docs/Encapsulation.md
  docs/Errors.md
  docs/Fluent-Schema.md
  docs/Getting-Started.md
  docs/HTTP2.md
  docs/Hooks.md
  docs/LTS.md
  docs/Lifecycle.md
  docs/Logging.md
  docs/Middleware.md
  docs/Migration-Guide-V3.md
  docs/Plugins-Guide.md
  docs/Plugins.md
  docs/Recommendations.md
  docs/Reply.md
  docs/Routes.md
  docs/Server.md
  docs/Serverless.md
  docs/Style-Guide.md
  docs/Testing.md
  docs/Validation-and-Serialization.md
  docs/Write-Plugin.md
Labels: documentation

#3049 Fix: use case when route defined without a url
  lib/route.js
  test/route.test.js
Labels: bugfix
