Repository fastify/fastify, pull requests merged in 2021-01, with the labels that each got.

#2777 Update Encapsulation.md
  docs/Encapsulation.md
Labels: documentation

#2773 add support for running preSerialization hooks for custom reply serializers
  lib/reply.js
  test/internals/reply.test.js
Labels: bugfix, v3.x

#2786 chore: rename next to done
  docs/TypeScript.md
  examples/hooks-benchmark.js
  examples/hooks.js
  examples/plugin.js
  examples/route-prefix.js
  test/404s.test.js
  test/500s.test.js
  test/close.test.js
  test/custom-parser.test.js
  test/decorator.test.js
  test/fastify-instance.test.js
  test/handler-context.test.js
  test/hooks-async.test.js
  test/hooks.on-ready.test.js
  test/hooks.test.js
  test/inject.test.js
  test/input-validation.js
  test/internals/hookRunner.test.js
  test/internals/reply.test.js
  test/internals/version.test.js
  test/logger.test.js
  test/middleware.test.js
  test/plugin.helper.js
  test/plugin.test.js
  test/register.test.js
  test/request-error.test.js
  test/route-hooks.test.js
  test/route-prefix.test.js
  test/schema-feature.test.js
  test/schema-serialization.test.js
  test/schema-validation.test.js
  test/stream.test.js
  test/throw.test.js
  test/types/plugin.test-d.ts
  test/validation-error-handling.test.js
  types/plugin.d.ts
Labels: chore

#2782 fix(2767): prevent calling onRoute while prefixing
  lib/route.js
  test/hooks.test.js
  test/route-prefix.test.js
  test/route.test.js
Labels: bugfix, v3.x

#2797 avoid warning with exposeHeadRoute route option
  lib/route.js
  test/route.test.js
Labels: bugfix, v3.x

#2806 docs(ecosystem): add fastify-schedule plugin
  docs/Ecosystem.md
Labels: plugin

#2733 Exposing fastify `httpHandler` and `defaultRoute` function, and adding support for hijacking FastifyReply
  docs/Lifecycle.md
  docs/Reply.md
  docs/Server.md
  fastify.js
  lib/errors.js
  lib/reply.js
  lib/route.js
  test/default-route.test.js
  test/skip-reply-send.test.js
  types/instance.d.ts
  types/route.d.ts
Labels: semver-minor, v3.x

#2820 Adds Ayoub El Khattabi to collaborators list
  README.md
  package.json
Labels: documentation
