Repository fastify/fastify, pull requests merged in 2021-05, with the labels that each got.

#2954 feat: Improve error experience
  docs/Errors.md
  docs/Hooks.md
  fastify.js
  lib/errors.js
  lib/route.js
  test/404s.test.js
  test/hooks.test.js
  test/throw.test.js
Labels: v4.x

#3053 Update Validation-and-Serialization.md
  docs/Validation-and-Serialization.md
Labels: documentation

#2702 Allow async handler to resolve with undefined
  docs/Routes.md
  lib/errors.js
  lib/wrapThenable.js
  test/async-await.test.js
  test/hooks.test.js
Labels: semver-major

#3069 add clientErrorHandler in fastify ts definition
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3070 Remove overdue deprecations
  docs/ContentTypeParser.md
  docs/Hooks.md
  docs/Reply.md
  docs/Request.md
  examples/hooks.js
  fastify.js
  lib/contentTypeParser.js
  lib/reply.js
  lib/request.js
  lib/route.js
  lib/symbols.js
  lib/warnings.js
  test/custom-parser-async.test.js
  test/custom-parser.test.js
  test/emit-warning.test.js
  test/hooks-async.test.js
  test/hooks.test.js
  test/route-hooks.test.js
  types/request.d.ts
Labels: semver-major, v4.x

#3071 Note about security releases and LTS
  docs/LTS.md
Labels: documentation

#3034 serializer log req and res are now Fastify Objects in type definition
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#3072 Simplify reply sent monitoring
  lib/reply.js
  lib/symbols.js
  lib/wrapThenable.js
  test/internals/reply.test.js
  test/wrapThenable.test.js
Labels: semver-minor

#3080 Add new packages for the fastify ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#2862 feat: compilers factory (transient ajv dependency)
  docs/Server.md
  fastify.js
  lib/schema-compilers.js
  lib/schema-controller.js
  package.json
  test/schema-serialization.test.js
  test/schema-special-usage.test.js
Labels: semver-minor

#3086 Remove content type coercion for response streams
  examples/simple-stream.js
  lib/reply.js
  test/hooks.test.js
  test/internals/reply.test.js
  test/route.test.js
  test/stream.test.js
Labels: semver-major, v4.x

#2947 Mergeable context config type
  fastify.d.ts
  test/types/reply.test-d.ts
  test/types/route.test-d.ts
  types/context.d.ts
  types/route.d.ts
Labels: typescript

#3095 fix: #229 TypeScript page, CONTRIBUTING.md anchor tag broken link
  docs/TypeScript.md
Labels: documentation
