Repository fastify/fastify, pull requests merged in 2021-12, with the labels that each got.

#3509 docs(ecosystem): adds @immobiliarelabs/fastify-metrics
  docs/Ecosystem.md
Labels: documentation, plugin

#3508 Move documentation into Guides or Reference subfolders on docs-reorg
  docs/Guides/Benchmarking.md
  docs/Guides/Ecosystem.md
  docs/Guides/Getting-Started.md
  docs/Guides/Migration-Guide-V3.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Recommendations.md
  docs/Guides/Serverless.md
  docs/Guides/Style-Guide.md
  docs/Guides/Testing.md
  docs/Guides/Write-Plugin.md
  docs/Reference/ContentTypeParser.md
  docs/Reference/Decorators.md
  docs/Reference/Encapsulation.md
  docs/Reference/Errors.md
  docs/Reference/Fluent-Schema.md
  docs/Reference/HTTP2.md
  docs/Reference/Hooks.md
  docs/Reference/LTS.md
  docs/Reference/Lifecycle.md
  docs/Reference/Logging.md
  docs/Reference/Middleware.md
  docs/Reference/Plugins.md
  docs/Reference/Reply.md
  docs/Reference/Request.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/TypeScript.md
  docs/Reference/Validation-and-Serialization.md
  docs/index.md
Labels: documentation

#3519 Update logger options to correct properties
  docs/Logging.md
Labels: documentation

#3525 Implement full TOC for `docs/Reference`
  docs/Guides/Fluent-Schema.md
  docs/Reference/ContentTypeParser.md
  docs/Reference/Decorators.md
  docs/Reference/Errors.md
  docs/Reference/HTTP2.md
  docs/Reference/Hooks.md
  docs/Reference/LTS.md
  docs/Reference/Lifecycle.md
  docs/Reference/Logging.md
  docs/Reference/Middleware.md
  docs/Reference/Plugins.md
  docs/Reference/Reply.md
  docs/Reference/Request.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/TypeScript.md
  docs/Reference/Validation-and-Serialization.md
  docs/Reference/index.md
  docs/index.md
Labels: documentation

#3528 Guides toc
  docs/Guides/Benchmarking.md
  docs/Guides/Contributing.md
  docs/Guides/Ecosystem.md
  docs/Guides/Fluent-Schema.md
  docs/Guides/Getting-Started.md
  docs/Guides/Index.md
  docs/Guides/Migration-Guide-V3.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Recommendations.md
  docs/Guides/Serverless.md
  docs/Guides/Style-Guide.md
  docs/Guides/Testing.md
  docs/Guides/Write-Plugin.md
  docs/Reference/TypeScript.md
  docs/Reference/index.md
Labels: documentation

#3524 Type Provider Reply Types
  package.json
  test/types/type-provider.test-d.ts
  types/reply.d.ts
  types/request.d.ts
  types/route.d.ts
  types/type-provider.d.ts
Labels: feature, v4.x

#3533 Rename index files
  docs/Reference/Index.md
  docs/index.md
Labels: documentation

#3542 Fix docs broken links
  docs/Guides/Fluent-Schema.md
  docs/Guides/Serverless.md
  docs/Guides/Style-Guide.md
  docs/Reference/ContentTypeParser.md
  docs/Reference/Decorators.md
  docs/Reference/Errors.md
  docs/Reference/Index.md
  docs/Reference/Plugins.md
  docs/Reference/Reply.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#3548 Update Ecosystem.md
  docs/Guides/Ecosystem.md
Labels: documentation

#3557 Fix typo in `/docs/index.md`
  docs/index.md
Labels: documentation

#3561 added fastify-file-routes
  docs/Guides/Ecosystem.md
Labels: documentation

#3565 docs: Small improvements in the documentation
  docs/Guides/Testing.md
  docs/Reference/TypeScript.md
Labels: documentation

#3577 Documentation: replace `fastify.decorate` arrow functions with function expressions
  docs/Reference/Plugins.md
Labels: documentation
