Repository fastify/fastify, pull requests merged in 2021-06, with the labels that each got.

#3119 fix #3116
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3106 feat: Handle new `avvio` error codes
  docs/Errors.md
  fastify.js
  lib/errors.js
  lib/hooks.js
  package.json
  test/hooks.on-ready.test.js
  test/plugin.test.js
Labels: semver-major

#3122 Notes for augmenting default 404 handler
  docs/Server.md
Labels: documentation

#3098 docs(ecosystem): add fastify-seaweedfs to community plugins
  docs/Ecosystem.md
Labels: documentation, plugin

#3124 Fixed `preHandler` from being stuck when requested
  docs/TypeScript.md
Labels: documentation

#3128 fix: handle invalid url
  lib/fourOhFour.js
  test/404s.test.js
  test/logger.test.js
Labels: bugfix, semver-major

#3138 docs: add notice of early response in hooks (#3135)
  docs/Routes.md
Labels: documentation

#3136 docs: update description for onReady hooks
  docs/Hooks.md
Labels: documentation

#3142 Update FST_ERR_CTP_BODY_TOO_LARGE description
  docs/Errors.md
Labels: documentation

#3144 Update TypeScript definitions: http2SessionTimeout
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3143 fix(types): add missing typings for `this` in encapsulated hooks
  test/types/hooks.test-d.ts
  types/hooks.d.ts
Labels: typescript

#3147 Update Server.md
  docs/Server.md
Labels: documentation

#3151 doc: add fastify early hints
  docs/Ecosystem.md
Labels: documentation, plugin

#3148 Update Ecosystem.md
  docs/Ecosystem.md
Labels: documentation, plugin

#3152 Fixes formatting error (and consequent build fail for website)
  docs/Ecosystem.md
Labels: documentation, plugin

#3159 Specify in docs that utf-8 will not be the default if you use your own Content-Type header
  docs/ContentTypeParser.md
Labels: documentation

#3161 Fix responding from a hook doc
  docs/Hooks.md
Labels: documentation

#3156 Shorthand bypass flag (required to implement JTD and other schema formats support)
  build/build-validation.js
  docs/Getting-Started.md
  docs/Server.md
  lib/configValidator.js
  lib/route.js
  lib/schemas.js
  test/internals/initialConfig.test.js
  test/internals/validation.test.js
  test/throw.test.js
Labels: semver-minor

#3165 fastify-route-group
  docs/Ecosystem.md
Labels: documentation, plugin

#3169 chore: add stream type to logger
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#3173 docs: add heply/fastify-bcrypt
  docs/Ecosystem.md
Labels: documentation, plugin
