Repository fastify/fastify, pull requests merged in 2021-03, with the labels that each got.

#2894 docs: ips order detail
  docs/Request.md
  docs/Server.md
Labels: documentation

#2911 Updated Serverless docs
  docs/Serverless.md
Labels: documentation

#2903 fix: adjust schema compiler type
  test/types/schema.test-d.ts
  types/instance.d.ts
  types/route.d.ts
  types/schema.d.ts
Labels: bugfix, typescript

#2922 docs(style-guide): minor fixes
  docs/Style-Guide.md
Labels: documentation

#2923 fix: oneOf schema side effect
  package.json
  test/schema-special-usage.test.js
Labels: bugfix, dependencies, test

#2926 fix: logger argument type
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#2931 docs: delete an extra word
  docs/Routes.md
Labels: documentation

#2933 chore: auto plugins label
  .github/labeler.yml
Labels: chore

#2910 Add fastify-vite
  docs/Ecosystem.md
Labels: documentation, plugin

#2925 fix regression: schema duplicate
  lib/route.js
  package.json
  test/schema-special-usage.test.js
Labels: bugfix

#2929 Fix typescript def for the setNotFoundHandler
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#2937 Remove broken link from Server documentation
  docs/Server.md
Labels: documentation

#2940 Minor improvements to docs and a comment
  CONTRIBUTING.md
  docs/Migration-Guide-V3.md
  docs/Server.md
  docs/Style-Guide.md
  fastify.js
Labels: documentation

#2942 fix: catch errors thrown by serializers in the default error handler
  lib/reply.js
  test/schema-serialization.test.js
Labels: bugfix, v3.x

#2948 docs: improve preValidation docs
  docs/Hooks.md
  test/hooks-async.test.js
  test/hooks.test.js
Labels: documentation

#2952 fix content-type type
  docs/Server.md
Labels: documentation

#2951 add types for default parser
  fastify.d.ts
  test/types/content-type-parser.test-d.ts
  test/types/instance.test-d.ts
  types/content-type-parser.d.ts
  types/instance.d.ts
Labels: typescript

#2863 docs: added Typescript docs for json-schema-to-ts
  docs/TypeScript.md
Labels: documentation

#2956 docs(ecosystem): add a few community plugins
  docs/Ecosystem.md
Labels: documentation, plugin

#2958 docs(ecosystem): add fastify-api-key to community plugins
  docs/Ecosystem.md
Labels: documentation, plugin

#2960 Update Hooks.md
  docs/Hooks.md
Labels: documentation

#2963 docs: fix link
  docs/Logging.md
Labels: documentation

#2961 fix types
  test/types/content-type-parser.test-d.ts
  test/types/instance.test-d.ts
  types/content-type-parser.d.ts
  types/instance.d.ts
Labels: typescript
