Repository fastify/fastify, pull requests merged in 2021-11, with the labels that each got.

#3401 fix: setSchemaController not inheriting Schemas from root parent
  fastify.js
  lib/schema-controller.js
  test/schema-feature.test.js
Labels: bugfix

#3436 docs: clarify on `request.body` content and usage
  docs/Getting-Started.md
  docs/Request.md
Labels: documentation

#3437 docs: Extend TypeBox documentation
  docs/Type-Providers.md
Labels: documentation

#3445 docs: add Google Cloud Functions example to Serverless Documentation
  docs/Serverless.md
Labels: documentation

#3452 docs: add fastify-polyglot plugin to the ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#3449 fix(typescript): define instance listen callback error nullable
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#3453 docs: replace "sons" with "descendants"
  docs/Plugins.md
Labels: documentation

#3460 docs: add fastify-crud-generator plugin
  docs/Ecosystem.md
Labels: documentation, plugin

#3463 fix: server.maxRequestsPerSocket miss
  lib/server.js
  test/maxRequestsPerSocket.test.js
Labels: bugfix

#3464 docs: add code sample for development logger config
  docs/Logging.md
Labels: documentation

#3438 docs: add post example to intro
  docs/Getting-Started.md
Labels: documentation

#3472 fix(typescript): add type declaration for FastifyRequest.context
  test/types/request.test-d.ts
  test/types/route.test-d.ts
  types/request.d.ts
  types/route.d.ts
Labels: typescript

#3470 docs: add set-cookie special case
  docs/Reply.md
Labels: documentation

#3479 Skip encapsulation of Request and Reply when not needed
  fastify.js
  lib/context.js
  lib/decorate.js
  lib/pluginOverride.js
  lib/reply.js
  lib/request.js
  lib/route.js
  lib/symbols.js
  test/500s.test.js
  test/helper.js
  test/request-error.test.js
Labels: v4.x

#3490 fix the sentence of `serializerCompiler`
  docs/Validation-and-Serialization.md
Labels: documentation

#3491 Fix positioning of <a> tags relative to headers
  docs/Errors.md
  docs/Guides/Getting-Started.md
  docs/Hooks.md
  docs/LTS.md
  docs/Middleware.md
  docs/Plugins-Guide.md
  docs/Plugins.md
  docs/Reference/Encapsulation.md
  docs/Reference/Server.md
  docs/Reply.md
  docs/Routes.md
  docs/Validation-and-Serialization.md
Labels: documentation

#3496 Improve relative links and broken links on docs-reorg
  docs/ContentTypeParser.md
  docs/Decorators.md
  docs/Errors.md
  docs/Fluent-Schema.md
  docs/Guides/Contributing.md
  docs/Guides/Getting-Started.md
  docs/Hooks.md
  docs/LTS.md
  docs/Lifecycle.md
  docs/Logging.md
  docs/Middleware.md
  docs/Migration-Guide-V3.md
  docs/Plugins-Guide.md
  docs/Plugins.md
  docs/Recommendations.md
  docs/Reference/Encapsulation.md
  docs/Reference/Server.md
  docs/Reply.md
  docs/Request.md
  docs/Routes.md
  docs/Serverless.md
  docs/Style-Guide.md
  docs/TypeScript.md
  docs/Validation-and-Serialization.md
  docs/Write-Plugin.md
  docs/index.md
Labels: documentation

#3493 fix(typescript): use RouteGeneric for setErrorHandler types
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#3501 docs(ecosystem): add `middie` to core section
  docs/Ecosystem.md
Labels: documentation, plugin
