Repository fastify/fastify, pull requests merged in 2021-09, with the labels that each got.

#3290 Fix Schema Documentation Link
  types/schema.d.ts
Labels: typescript

#3297 chore: fix error message check
  test/schema-feature.test.js
Labels: test

#3295 fix headers no longer readonly
  test/types/request.test-d.ts
  types/request.d.ts
Labels: typescript

#3298 add nginx to Recommendations
  docs/Recommendations.md
Labels: documentation

#3308 fix: check serialized payload
  lib/reply.js
  test/schema-serialization.test.js
Labels: bugfix

#3311 docs: update fastify-websocket description
  docs/Ecosystem.md
Labels: documentation, plugin

#3312 close() returns a Promise, not a PromiseLike
  test/types/plugin.test-d.ts
  types/instance.d.ts
Labels: typescript

#3310 Doc - Schema validators per validation types
  docs/Validation-and-Serialization.md
  test/schema-validation.test.js
Labels: documentation

#3322 docs: link logo to the website
  README.md
Labels: documentation

#3321 docs: grammar, spelling, and readability fixes
  docs/Guides/Contributing.md
  docs/Recommendations.md
  docs/Reply.md
  docs/Request.md
  docs/Server.md
Labels: documentation

#3319 Docs: Add and clarify query string handling tips
  docs/Request.md
  docs/Server.md
Labels: documentation

#3325 docs: try to fit the doc with the code
  docs/Request.md
Labels: documentation

#3336 Update Hooks.md
  docs/Hooks.md
Labels: documentation

#3345 Fix links to querystringParser
  docs/Request.md
  docs/Server.md
Labels: documentation

#3348 docs: add `fastify-supabase` to fastify ecosystem
  docs/Ecosystem.md
Labels: documentation, plugin

#3352 Update NGINX section with comments and fixes
  docs/Recommendations.md
Labels: documentation
