Repository fastify/fastify, pull requests merged in 2021-08, with the labels that each got.

#3221 fix generic constraint type
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3222 docs: fix interface in route generic example
  docs/TypeScript.md
Labels: documentation

#3231 Add `serializerOpts` to server option interface
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3227 docs: update all nodejs doc links to point to v14.x documentation
  docs/Reply.md
  docs/Server.md
Labels: documentation

#3226 docs: Added fastify-slonik plugin reference in fastify-ecosystem page.
  docs/Ecosystem.md
Labels: documentation, plugin

#3223 docs: add info about Reply generic interface
  docs/TypeScript.md
Labels: documentation

#3239 doc: update status of session
  docs/Ecosystem.md
Labels: documentation, plugin

#3241 Clarify getting started
  docs/Getting-Started.md
Labels: documentation

#3248 docs: fix import wrong statement
  docs/TypeScript.md
Labels: documentation

#3246 Fixed dead link for @fastify/session
  docs/Ecosystem.md
Labels: documentation, plugin

#3242 Add Fastify-allow plugin reference
  docs/Ecosystem.md
Labels: documentation, plugin

#3254 Fixed socket leakage in TLS connection
  fastify.js
  test/request-error.test.js
Labels: bugfix

#3259 Add fastify-appwrite plugin
  docs/Ecosystem.md
Labels: documentation, plugin

#3253 Docs: esm syntax
  README.md
  docs/Getting-Started.md
Labels: documentation

#3264 ci: automerge only minor semver
  .github/workflows/ci.yml
Labels: chore

#3265 docs: how to use ajv8 within fastify3
  docs/Server.md
  docs/Validation-and-Serialization.md
  package.json
Labels: documentation

#3269 Fix schema controller error when adding response schemas
  lib/schema-controller.js
  package.json
  test/schema-special-usage.test.js
Labels: bugfix

#3261 Encapsulated error handling
  docs/Errors.md
  fastify.js
  lib/error-handler.js
  lib/fourOhFour.js
  lib/reply.js
  lib/route.js
  lib/schemas.js
  lib/setErrorHeaders.js
  lib/symbols.js
  test/encapsulated-error-handler.test.js
  test/fastify-instance.test.js
  test/hooks.test.js
  test/http2/unknown-http-method.test.js
  test/internals/handleRequest.test.js
  test/logger.test.js
  test/reply-error.test.js
  test/stream.test.js
Labels: semver-major

#2610 Add contributing guide
  CONTRIBUTING.md
  README.md
  docs/Guides/Contributing.md
  docs/Guides/Index.md
Labels: documentation

#3273 fixes minor typo in ContentTypeParser.md
  docs/ContentTypeParser.md
Labels: documentation

#3270 adding type for fastify.routing
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#3275 docs: fix http status on validation
  docs/Lifecycle.md
Labels: documentation

#3276 docs: fix syntax
  docs/Server.md
Labels: documentation

#3274 Payload validation
  docs/ContentTypeParser.md
  docs/Routes.md
  lib/route.js
  test/route.test.js
  test/schema-examples.test.js
  test/schema-feature.test.js
Labels: semver-major

#3278 docs: add fastify-bree
  docs/Ecosystem.md
Labels: documentation, plugin

#3271 Ajv8 by default
  build/build-validation.js
  docs/Routes.md
  docs/Server.md
  docs/Validation-and-Serialization.md
  lib/configValidator.js
  lib/context.js
  package.json
  test/custom-parser.test.js
  test/delete.test.js
  test/fluent-schema.test.js
  test/get.test.js
  test/input-validation.js
  test/internals/initialConfig.test.js
  test/schema-examples.test.js
  test/schema-feature.test.js
  test/schema-serialization.test.js
  test/schema-special-usage.test.js
  test/schema-validation.test.js
  test/throw.test.js
  test/types/fastify.test-d.ts
  test/types/schema.test-d.ts
  test/validation-error-handling.test.js
  types/schema.d.ts
Labels: semver-major, v4.x
