Repository fastify/fastify, pull requests merged in 2022-01, with the labels that each got.

#3583 Update Recommendations.md
  docs/Guides/Recommendations.md
Labels: documentation

#3280 upgrade fast-json-stringify with ajv8
  build/build-error-serializer.js
  fastify.d.ts
  lib/error-handler.js
  lib/error-serializer.js
  lib/schema-compilers.js
  lib/schema-controller.js
  package.json
Labels: semver-major, v4.x

#3594 feat: ajv default array coercion
  docs/Reference/Validation-and-Serialization.md
  package.json
  test/schema-feature.test.js
Labels: v4.x

#3602 docs(reference-typescript): fix formatting
  docs/Reference/TypeScript.md
Labels: documentation

#3608 feat: manage display-name meta plugin
  lib/pluginUtils.js
  test/plugin.name.display.js
  test/plugin.test.js
Labels: semver-minor

#3609 Add prototype poisoning doc
  docs/Guides/Index.md
  docs/Guides/Prototype-Poisoning.md
  docs/Reference/Server.md
Labels: documentation

#3601 Fix types to support Ajv plugins with options
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3622 fix (types): `this` is `FastifyInstance`
  test/404s.test.js
  test/types/hooks.test-d.ts
  types/hooks.d.ts
Labels: bugfix, typescript

#3638 docs: fix link to forceCloseConnections option
  docs/Reference/Server.md
Labels: documentation

#3639 docs(Prototype-Poisoning): invalid content link
  docs/Guides/Prototype-Poisoning.md
Labels: documentation

#3640 doc(Guides): fix grammar issue in the Prototype Poisoning file
  docs/Guides/Prototype-Poisoning.md
Labels: documentation

#3646 types: add forceCloseConnection type def
  fastify.d.ts
  test/types/fastify.test-d.ts
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#3647 docs: add type provider encapsulation
  docs/Type-Providers.md
Labels: documentation
