Repository fastify/fastify, pull requests merged in 2022-12, with the labels that each got.

#4474 chore(ecosystem): rename fastify-lyra plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4473 docs(ecosystem): add fastify-at-mysql plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4471 fix: make res.statusCode optional
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#4481 perf: precompute isEssence for RegExp of content-type-parser method compareRegExpContentType
  lib/contentTypeParser.js
Labels: performances

#4480 lib: deprecate the default route and improve its documentation
  docs/Reference/Server.md
  lib/route.js
  lib/warnings.js
  test/default-route.test.js
Labels: semver-minor, notable

#4429 docs(reference/reply): When using async-await, need return
  docs/Reference/Reply.md
Labels: documentation

#4485 lib: drop setDefaultRoute and getDefaultRoute methods
  docs/Reference/Errors.md
  docs/Reference/Server.md
  fastify.js
  lib/errors.js
  lib/route.js
  test/default-route.test.js
  test/types/instance.test-d.ts
  types/errors.d.ts
  types/instance.d.ts
Labels: semver-major
