Repository fastify/fastify, pull requests merged in 2022-02, with the labels that each got.

#3606 localhost binds to ipv4 and ipv6
  docs/Reference/Server.md
  fastify.js
  lib/server.js
  lib/symbols.js
  test/custom-http-server.test.js
  test/helper.js
  test/https/custom-https-server.test.js
  test/internals/initialConfig.test.js
  test/internals/server.test.js
  test/listen.test.js
  test/logger.test.js
  test/stream.test.js
  test/versioned-routes.test.js
Labels: v4.x

#3480 Add Documentation and TS Types missed for FastifyInstance#setSchemaController
  test/types/instance.test-d.ts
  types/instance.d.ts
  types/schema.d.ts
Labels: typescript

#3679 Add action to lock threads
  .github/workflows/lock-threads.yml
Labels: chore

#3681 fix: added jsonShorthand in FastifyServerOptions
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#3661 fix: calling reply.callNotFound uncaught exception
  fastify.js
  test/404s.test.js
Labels: bugfix

#3692 ci(package-manager): run `test:ci` instead of `test`
  .github/workflows/package-manager-ci.yml
Labels: chore, test

#3697 Add reference to FST_ERR_CTP_INVALID_MEDIA_TYPE error in the docs for validation & content type parser
  docs/Reference/ContentTypeParser.md
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#3641 fix(types): add opts param to onRegister hook handler signature
  test/types/hooks.test-d.ts
  types/hooks.d.ts
  types/register.d.ts
Labels: typescript

#3699 update Server docs
  docs/Reference/Server.md
Labels: documentation

#3703 Tests should pass on a host with only a single network interface
  fastify.js
  lib/server.js
  test/custom-http-server.test.js
  test/https/custom-https-server.test.js
  test/listen.test.js
  test/logger.test.js
Labels: test

#3704 docs: add database guide page
  docs/Guides/Database.md
Labels: documentation

#3727 Remove reference to 'ESLint: manage library execution' command
  docs/Guides/Contributing.md
Labels: documentation
