Repository fastify/fastify, pull requests merged in 2022-11, with the labels that each got.

#4391 fix: tiny-lru usage
  lib/contentTypeParser.js
  package.json
Labels: chore

#4392 Removes old note about named imports in ESM
  docs/Guides/Plugins-Guide.md
Labels: documentation

#4386 docs: Add section about capacity planning
  docs/Guides/Recommendations.md
Labels: documentation

#4396 docs(recommendations): grammar fixes
  docs/Guides/Recommendations.md
Labels: documentation

#4398 chore(doc): duplicated menu item
  docs/Guides/Recommendations.md
Labels: documentation

#4397 feat: add request.routeOptions object
  docs/Reference/Request.md
  lib/context.js
  lib/request.js
  lib/route.js
  test/bodyLimit.test.js
  test/request-error.test.js
  test/types/request.test-d.ts
  types/request.d.ts
Labels: semver-minor

#4393 docs: Document multiple app approach
  docs/Guides/Recommendations.md
Labels: documentation

#4406 fix example using db decorator on fastify instance
  docs/Reference/Decorators.md
Labels: documentation

#4409 add missing route shorthands
  docs/Reference/Routes.md
  fastify.js
  test/route-shorthand.test.js
  test/types/route.test-d.ts
  types/instance.d.ts
Labels: semver-major, v5.x

#4410 docs: fix removeAdditional refer
  docs/Reference/Server.md
Labels: documentation

#4427 fix node 19.1.0 port validation test
  test/server.test.js
Labels: test

#4428 Add fastify-constraints to community plugins
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4432 add silent option to LogLevel
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#4436 fix: use generic for Logger to register plugins when using a custom logger (#4435)
  test/types/register.test-d.ts
  types/plugin.d.ts
  types/register.d.ts
Labels: typescript

#4448 Incorrect example in default text parser docs
  docs/Reference/Server.md
Labels: documentation

#4449 chore: fix test skips for nodejs prereleases
  test/close-pipelining.test.js
  test/close.test.js
Labels: test
