Repository fastify/fastify, pull requests merged in 2022-04, with the labels that each got.

#3814 reply: remove content-length when Transfer-Encoding is added
  lib/reply.js
  test/reply-trailers.test.js
Labels: backport v3.x

#3816 fix: remove duplicate require(http-errors)
  test/404s.test.js
Labels: test

#3815 fix: remove server.unref from tests (#3790)
  test/async-await.test.js
  test/bodyLimit.test.js
  test/custom-parser.test.js
  test/decorator.test.js
  test/delete.test.js
  test/get.test.js
  test/head.test.js
  test/helper.js
  test/hooks-async.test.js
  test/hooks.test.js
  test/http2/closing.test.js
  test/http2/constraint.test.js
  test/http2/head.test.js
  test/http2/plain.test.js
  test/http2/secure-with-fallback.test.js
  test/http2/secure.test.js
  test/http2/unknown-http-method.test.js
  test/https/https.test.js
  test/input-validation.js
  test/internals/handleRequest.test.js
  test/internals/initialConfig.test.js
  test/logger.test.js
  test/nullable-validation.test.js
  test/output-validation.test.js
  test/plugin.test.js
  test/promises.test.js
  test/register.test.js
  test/request-error.test.js
  test/route.test.js
  test/router-options.test.js
  test/stream.test.js
  test/versioned-routes.test.js
Labels: test

#3823 test: fix latest pino type change error
  test/types/request.test-d.ts
Labels: typescript, test

#3831 fix type providers package names
  docs/Type-Providers.md
Labels: documentation

#3837 chore: add guide on delaying serving specific requests
  docs/Guides/Delay-Accepting-Requests.md
  docs/Guides/Index.md
Labels: documentation

#3846 docs: improve docs around trailing slashes in routes
  docs/Reference/Routes.md
  docs/Reference/Server.md
Labels: documentation

#3835 Update Routes.md
  docs/Reference/Routes.md
Labels: documentation, backport v3.x

#3855 docs: reference new `@fastify/*` modules
  docs/Guides/Database.md
  docs/Guides/Ecosystem.md
  docs/Guides/Getting-Started.md
  docs/Guides/Migration-Guide-V3.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Write-Plugin.md
  docs/Migration-Guide-V4.md
  docs/Reference/Encapsulation.md
  docs/Reference/Hooks.md
  docs/Reference/Middleware.md
  docs/Reference/Reply.md
  docs/Reference/TypeScript.md
Labels: documentation

#3860 docs: reference new `@fastify/*` modules
  docs/Guides/Ecosystem.md
  docs/Guides/Getting-Started.md
  docs/Guides/Migration-Guide-V3.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Write-Plugin.md
  docs/Reference/Encapsulation.md
  docs/Reference/Hooks.md
  docs/Reference/Middleware.md
  docs/Reference/Reply.md
  docs/Reference/TypeScript.md
Labels: documentation
