Repository fastify/fastify, pull requests merged in 2022-08, with the labels that each got.

#4167 docs: update code snippet for accurate use
  docs/Reference/Reply.md
Labels: documentation

#4158 types: adjust and add testing
  test/types/reply.test-d.ts
  test/types/request.test-d.ts
  types/reply.d.ts
Labels: typescript

#4176 docs(ecosystem): add fastify-lyra
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4177 Add links to type providers
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4180 docs(ecosystem): add fastify-keycloak-adapter
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4178 Docs: onResponse hook error logging
  docs/Reference/Hooks.md
  docs/Reference/Server.md
Labels: documentation

#4185 Add fastify-osm
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4188 docs(reference/routes): fix `onSend` example
  docs/Reference/Routes.md
Labels: documentation

#4187 add unit test for ajv-formats
  test/schema-examples.test.js
Labels: test

#4191 doc: add fastify.display-name symbol
  docs/Reference/Server.md
Labels: documentation

#4198 docs(validation-and-serialization): Fix example on query string coercion
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#4201 Add fastify-https-always to Ecosystem doc.
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4212 ecosystem.md: move fastify-secure-session and fastify-soap-client to core plugins
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4218 chore: fastify branch list
  CONTRIBUTING.md
Labels: documentation

#4222 chore: add support for TypeScript 4.8
  types/instance.d.ts
  types/route.d.ts
Labels: typescript

#4224 chore: replace deprecated FastifyLoggerInstance occurences in typings with FastifyBaseLogger
  types/hooks.d.ts
  types/instance.d.ts
  types/logger.d.ts
  types/plugin.d.ts
  types/reply.d.ts
  types/request.d.ts
  types/route.d.ts
Labels: typescript

#4226 fix(types): allow `fastify.https` to be `null`
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#4227 chore: fix typo in docs for typescript chapter
  docs/Reference/TypeScript.md
Labels: documentation

#4232 chore: update dependabot link
  docs/Guides/Write-Plugin.md
Labels: documentation

#4233 docs: improved migration guide for onRoute
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4236 docs: clarify setDefaultRoute scope
  docs/Reference/Server.md
Labels: documentation

#4230 docs(ecosystem): add fastify-aws-timestream and fastify-aws-sns
  docs/Guides/Ecosystem.md
Labels: documentation, plugin
