Repository fastify/fastify, pull requests merged in 2022-06, with the labels that each got.

#3896 Child log level in bindings is deprecated
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#3962 chore: Fix types for child loggers
  test/types/logger.test-d.ts
  types/logger.d.ts
Labels: typescript

#3964 docs: update a link to tsconfig
  docs/Reference/TypeScript.md
Labels: documentation

#3925 feat: Use new Node.js' connection closing API if available
  build/build-validation.js
  docs/Reference/Server.md
  fastify.d.ts
  fastify.js
  lib/configValidator.js
  lib/errors.js
  lib/route.js
  test/close-pipelining.test.js
  test/close.test.js
  test/custom-http-server.test.js
  test/internals/initialConfig.test.js
Labels: notable

#3966 docs: fix broken link
  types/schema.d.ts
Labels: typescript

#3975 docs: update core plugin names
  docs/Guides/Ecosystem.md
  docs/Guides/Migration-Guide-V3.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Serverless.md
  docs/Guides/Write-Plugin.md
  docs/Migration-Guide-V4.md
  docs/Reference/Middleware.md
Labels: documentation

#3983 chore(docs): fix typo
  docs/Migration-Guide-V4.md
Labels: documentation

#3986 Solves #3984
  docs/Migration-Guide-V4.md
Labels: documentation

#3987 Move Migration-Guide-V4 to guides/
  docs/Guides/Index.md
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#3989 added path parameters examples to URL BUILDING section
  docs/Reference/Routes.md
Labels: documentation

#3991 docs: fix merge error
  docs/Reference/Request.md
Labels: documentation

#4001 docs: Update to correct link for hooks page
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4000 docs(ecosystem): add fastify-mongodb-sanitizer
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4020 Updated LTS strategy
  docs/Reference/LTS.md
Labels: documentation

#4024 test: fix request terminated should not crash fastify test
  test/stream.test.js
Labels: test

#4042 Fix port settings for deprecation warnings.
  docs/Guides/Database.md
Labels: documentation

#4034 fix: propagate generics from FastifyRegister to plugin type
  test/types/register.test-d.ts
  types/register.d.ts
Labels: typescript

#4043 Docs(Reference): remove "Type" from imported name
  docs/Reference/Type-Providers.md
Labels: documentation, typescript

#4040 docs(guides): add two v4 breaking changes
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4047 docs(guides): breaking change exposeHeadRoutes
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4051 test: fix flaky test
  test/build/error-serializer.test.js
Labels: test

#4058 docs(ecosystem): add fastify-ssr-vite to community plugins
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4079 Add lightweight cache plugin to fastify ecosystem
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4082 Add plugin lcache by alphabetic order
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4076 Use a union-aware keyof operator
  test/types/request.test-d.ts
  types/type-provider.d.ts
Labels: typescript

#4077 docs: Update TypeScript docs regarding typebox #4073
  docs/Reference/TypeScript.md
Labels: documentation

#4087 chore(guide): fulfil error handler and trailers
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4089 Make type provider-provided return types be enforced
  test/types/request.test-d.ts
  test/types/type-provider.test-d.ts
  types/route.d.ts
Labels: typescript

#4084 docs: explain common usage for injection into request instances
  docs/Reference/Hooks.md
Labels: documentation

#4091 Update Migration-Guide-V4.md
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4086 ci: reference actions using tags
  .github/workflows/integration.yml
  .github/workflows/links-check.yml
Labels: chore

#4095 Remove redundant docs on TypeBox properties
  docs/Reference/Type-Providers.md
Labels: documentation

#4096 Add typeorm-fastify-plugin in Alphabetic order
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4097 Add ecosystem linting
  .github/scripts/lint-ecosystem.js
  .github/workflows/lint-ecosystem-order.yml
  docs/Guides/Ecosystem.md
Labels: chore
