Repository fastify/fastify, pull requests merged in 2022-09, with the labels that each got.

#4242 docs(guides/migration-guide-v4): update content
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4249 docs: Remove Ajv configuration from TypeBox Type Provider examples
  docs/Reference/Type-Providers.md
Labels: documentation

#4248 fix: visit schemas with custom prototype
  lib/schemas.js
  test/schema-special-usage.test.js
Labels: bugfix

#4253 Docs: Fixing #schema-validator url at ./Reference/Server/#ajv
  docs/Reference/Server.md
Labels: documentation

#4255 chore(doc): fix format
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4234 chore: export RouteGenericInterface
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#4260 test: remove assert to invalid HTTP version
  test/unsupported-httpversion.test.js
Labels: test

#4263 docs: add pubsub-http-handler
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4268 doc: Remove Ajv configuration for TypeBox in TS examples
  docs/Reference/TypeScript.md
Labels: documentation

#4270 docs(ecosystem): add 2 new fastify v3.x+ plugins
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4247 docs(typescript): fix fastify/fastify#4241
  docs/Reference/TypeScript.md
Labels: documentation, typescript

#4274 docs(ecosystem): add fastify-sqlite
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4277 Add RavenDB to community plugins
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4285 docs: onRoute hooks in plugins
  docs/Guides/Plugins-Guide.md
Labels: documentation

#4293 docs(ecosystem): Add `@fastify/one-line-logger`
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4294 docs(ecosystem): capitalization fixes
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4292 docs(ecosystem): add slow down plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4301 Fix typo in the comment to Context object (lib/context.js)
  lib/context.js
Labels: documentation, chore

#4304 docs(type-providers): replace FastifyLoggerInstance with FastifyBaseLogger
  docs/Reference/Type-Providers.md
Labels: documentation

#4303 docs(contributing): clarify teams for joiners
  CONTRIBUTING.md
Labels: documentation

#4216 feat: add routeSchema and routeConfig + switching context handling
  docs/Reference/Reply.md
  docs/Reference/Request.md
  lib/contentTypeParser.js
  lib/context.js
  lib/error-handler.js
  lib/handleRequest.js
  lib/reply.js
  lib/request.js
  lib/route.js
  lib/symbols.js
  lib/warnings.js
  test/context-config.test.js
  test/handler-context.test.js
  test/internals/contentTypeParser.test.js
  test/internals/handleRequest.test.js
  test/internals/reply-serialize.test.js
  test/internals/reply.test.js
  test/internals/request-validate.test.js
  test/internals/request.test.js
  test/plugin.test.js
  test/router-options.test.js
Labels: semver-minor

#4312 fix: Fix typo in docs/Reference/Type-Providers.md
  docs/Reference/Type-Providers.md
Labels: documentation
