Repository fastify/fastify, pull requests merged in 2022-10, with the labels that each got.

#4321 Correct github url for fastify-qs package
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4300 docs: add test examples with undici and fetch
  docs/Guides/Testing.md
Labels: documentation

#4322 update onRoute hook docs
  docs/Reference/Hooks.md
Labels: documentation

#4266 Export error codes
  docs/Reference/Errors.md
  fastify.d.ts
  fastify.js
  lib/errors.js
  test/types/fastify.test-d.ts
  types/errors.d.ts
Labels: semver-minor

#4264 feat: Supporting different content-type responses
  docs/Reference/Reply.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/Validation-and-Serialization.md
  lib/errors.js
  lib/reply.js
  lib/schemas.js
  lib/validation.js
  test/internals/reply-serialize.test.js
  test/schema-serialization.test.js
  types/reply.d.ts
  types/schema.d.ts
Labels: semver-minor

#4340 fix: should now call default schema compilers
  lib/schema-controller.js
  test/schema-special-usage.test.js
Labels: bugfix

#4334 docs(ecosystem): replace heply -> beliven due to rebranding
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4345 docs(ecosystem): add @fastify-userland plugins and tools
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4332 Validate and throws a custom error when attempting to register invalid hook functions
  lib/errors.js
  lib/hooks.js
  lib/route.js
  test/hooks.test.js
  test/internals/hooks.test.js
Labels: bugfix

#4337 docs(reply): specify streams content-type
  docs/Reference/Reply.md
Labels: documentation

#4348 docs(reference): grammar and structure fixes
  docs/Reference/Errors.md
  docs/Reference/Hooks.md
  docs/Reference/Routes.md
Labels: documentation

#4343 docs: example how decorators dependencies works
  docs/Reference/Decorators.md
Labels: documentation

#4352 types: Add missing context types
  test/types/request.test-d.ts
  types/context.d.ts
  types/request.d.ts
Labels: typescript

#4358 docs(reference/reply): spelling fixes
  docs/Reference/Reply.md
Labels: documentation

#4360 Support different content-type typed reply with TypeProvider
  test/types/type-provider.test-d.ts
  types/type-provider.d.ts
Labels: typescript

#4364 chore: remove leading empty lines
  test/input-validation.js
Labels: test

#4365 fix types after pino 8.7.0 change
  test/types/logger.test-d.ts
Labels: typescript, test

#4368 docs(server): config is lost when reply.call not found() is called
  docs/Reference/Server.md
Labels: documentation

#4372 Fix typo - 'sever' to 'server'
  docs/Reference/TypeScript.md
Labels: documentation

#4385 docs(ecosystem): Add fastify-list-routes
  docs/Guides/Ecosystem.md
Labels: documentation, plugin
