Repository fastify/fastify, pull requests merged in 2022-05, with the labels that each got.

#3822 Add Promise to 404 handler return type
  docs/Reference/Server.md
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: backport v3.x

#3876 docs(guides): grammar fixes
  docs/Guides/Benchmarking.md
  docs/Guides/Database.md
  docs/Guides/Delay-Accepting-Requests.md
  docs/Guides/Getting-Started.md
  docs/Guides/Index.md
  docs/Guides/Migration-Guide-V3.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Recommendations.md
  docs/Guides/Serverless.md
  docs/Guides/Style-Guide.md
  docs/Guides/Write-Plugin.md
Labels: documentation

#3877 docs(reference): grammar and conciseness changes
  docs/Reference/ContentTypeParser.md
  docs/Reference/Encapsulation.md
  docs/Reference/Hooks.md
  docs/Reference/Middleware.md
  docs/Reference/Plugins.md
  docs/Reference/Reply.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#3853 docs: add Type Providers to Typescript docs
  docs/Reference/Type-Providers.md
  docs/Reference/TypeScript.md
Labels: documentation

#3848 Update TypeScript.md
  docs/Reference/TypeScript.md
Labels: documentation

#3892 fixed a typo in the definition of the abbreviation DAG
  docs/Reference/Plugins.md
Labels: documentation

#3901 docs(ecosystem): update core list
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3850 JSDoc in Get Started Section
  docs/Guides/Getting-Started.md
Labels: documentation

#3907 docs: update the link address of `hooks`
  docs/Migration-Guide-V4.md
Labels: documentation

#3910 test: prepare for network interfaces family change
  test/listen.test.js
Labels: test

#3917 docs: explain defaultRoute
  docs/Reference/Server.md
Labels: documentation

#3898 docs: update genReqId docs
  docs/Reference/Server.md
Labels: documentation

#3920 Fix getDefaultRoute type
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#3922 Remove mentions of `make-promises-safe` because it is only needed with Node <=14
  docs/Guides/Getting-Started.md
  docs/Reference/Errors.md
Labels: documentation

#3930 docs(guides/ecosystem): add `any-schema-you-like`; sort alphabetically
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3933 docs(Reference/Logging): update suggested pino-pretty configuration
  docs/Guides/Testing.md
  docs/Reference/Logging.md
Labels: documentation

#3934 docs(ecosystem): add fastify-amqp-async
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3939 docs(ecosystem): add fast-maker
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3941 fix: handler return reply type
  test/types/route.test-d.ts
  types/route.d.ts
  types/type-provider.d.ts
Labels: typescript

#3944 docs: fix ambiguous sentence
  docs/Reference/TypeScript.md
Labels: documentation

#3945 docs(ecosystem): add fastify-kafkajs
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3943 docs(ecosystem): add fastify-next-auth
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3955 docs(guides): fix page name style
  docs/Guides/Index.md
Labels: documentation

#3952 fix(types): fix default type provider typings
  test/types/type-provider.test-d.ts
  types/type-provider.d.ts
Labels: typescript
