Repository fastify/fastify, pull requests merged in 2022-03, with the labels that each got.

#3740 test: change port to random
  test/als.test.js
Labels: test

#3751 feat (types): add complete `fastify.listen()` typescript definitions
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#3754 Fix: response type of serialize method in FastifyReply interface
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: typescript

#3755 chore(benchmark): add node v17
  .github/workflows/benchmark.yml
Labels: performances, chore

#3759 Fix avvio plugin timeout for 0
  docs/Reference/Server.md
  fastify.js
  test/internals/initialConfig.test.js
Labels: v4.x

#3766 Update Ecosystem.md
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3768 docs: aws-lambda-fastify in the ecosystem
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3767 Update Ecosystem.md - Add fastify-impressions to the list
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3773 Fix typo in reference documentation for listen()
  docs/Reference/Server.md
Labels: documentation

#3784 fix: #3783
  lib/server.js
  test/listen.test.js
Labels: bugfix, v4.x

#3786 Allow custom Context Config types for hooks' `request` properties
  test/types/hooks.test-d.ts
  types/hooks.d.ts
Labels: typescript

#3787 (v3.x) Allow custom Context Config types for hooks' `request` properties
  test/types/hooks.test-d.ts
  types/hooks.d.ts
Labels: typescript

#3785 Bugfix/streamline fastify request to be generic
  test/types/hooks.test-d.ts
  test/types/request.test-d.ts
  test/types/type-provider.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/request.d.ts
  types/route.d.ts
Labels: typescript

#3793 docs: add fastify-webpack-hot (fixes #3792)
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#3782 add generic logger to route handler & FastifyRequest
  test/types/hooks.test-d.ts
  test/types/request.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/request.d.ts
  types/route.d.ts
Labels: typescript, v3.x

#3794 feat: reply trailers support
  docs/Reference/Reply.md
  lib/errors.js
  lib/reply.js
  lib/symbols.js
  test/internals/reply.test.js
  test/reply-trailers.test.js
Labels: semver-minor, backport v3.x
