Repository fastify/fastify, pull requests merged in 2023-06, with the labels that each got.

#4780 docs(request): fix typo in compileValidationSchema function name
  docs/Reference/Request.md
Labels: documentation

#4773 Rename types/tsconfig.json to types/tsconfig.eslint.json to avoid hoisting by vscode
  types/.eslintrc.json
  types/tsconfig.eslint.json
  types/type-provider.d.ts
Labels: typescript

#4781 fix: update removeHeader type to be FastifyReply
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: typescript

#4787 body reader to use statusCode from stream error, if available (#4785)
  lib/contentTypeParser.js
  test/hooks-async.test.js
  test/route-hooks.test.js
Labels: bugfix

#4786 workflow(benchmark): update node version
  .github/workflows/benchmark.yml
Labels: github actions

#4801 add sync-next workflow
  .github/workflows/sync-next.yml
Labels: github actions

#4691 ci(ci): replace node 19 with node 20 in test matrices
  .github/workflows/ci.yml
  .github/workflows/coverage-nix.yml
  .github/workflows/coverage-win.yml
  .github/workflows/integration.yml
  .github/workflows/package-manager-ci.yml
  docs/Reference/LTS.md
  lib/server.js
  package.json
  test/custom-parser.0.test.js
  test/custom-parser.1.test.js
  test/hooks.test.js
  test/internals/reply.test.js
  test/reply-error.test.js
  test/request-error.test.js
Labels: github actions

#4809 Fix broken CI
  .github/workflows/ci.yml
  .github/workflows/coverage-nix.yml
  .github/workflows/coverage-win.yml
  package.json
Labels: github actions

#4822 Add Platformatic to deploy strategies
  docs/Guides/Serverless.md
Labels: documentation

#4812 docs(ecosystem): add fastify-better-sqlite3
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4784 fix: correct type definition for genReqId argument
  docs/Reference/Server.md
  fastify.d.ts
  test/genReqId.test.js
  test/types/fastify.test-d.ts
Labels: typescript

#4838 docs(Routes.md): added short description for constraints option
  docs/Reference/Routes.md
Labels: documentation

#4850 Fix/add missing types fastifycontextconfig
  test/types/route.test-d.ts
  types/context.d.ts
  types/route.d.ts
Labels: typescript

#4852 Added "Principles" to explain the key technical principles behind Fastify
  docs/Reference/Principles.md
Labels: documentation

#4848 pluginName will be exposed in FastifyInstance
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#4456 docs: Add documentation for zod type provider
  docs/Reference/Type-Providers.md
Labels: documentation

#4851 docs(ecosystem): add fastify cacheman
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4839 ci: trigger the new website build
  .github/workflows/website.yml
Labels: github actions

#4823 feat: Type narrow on status().send() chains with Reply generics
  docs/Reference/TypeScript.md
  test/types/reply.test-d.ts
  types/reply.d.ts
  types/utils.d.ts
Labels: typescript

#4861 docs(typescript): fix typo
  docs/Reference/TypeScript.md
Labels: documentation
