Repository fastify/fastify, pull requests merged in 2023-10, with the labels that each got.

#5069 fix(async-hooks): mixing async and callback style in preHandler option now returns an error
  lib/route.js
  test/hooks-async.test.js
Labels: bugfix

#5082 feat: Add `Symbol.asyncDispose` to improve DX in short lived servers.
  docs/Reference/Server.md
  fastify.js
  test/async-dispose.test.js
  test/types/using.test-d.ts
  types/instance.d.ts
Labels: semver-minor, typescript

#5085 docs(ecosystem): add fastify-event-bus
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5088 docs: Update for .hijack heading
  docs/Reference/Reply.md
Labels: documentation

#5096 fix: build problems when `Symbol.asyncDispose` type is not available.
  types/instance.d.ts
Labels: typescript

#5097 feat: Improve RouteShorthandOptions['constraints'] type
  test/types/route.test-d.ts
  types/route.d.ts
Labels: typescript

#5108 docs: added documentation about warnings
  docs/Reference/Index.md
  docs/Reference/Warnings.md
  lib/warnings.js
Labels: documentation

#5128 test(logger): restrict temp file permissions
  test/logger/instantiation.test.js
Labels: test
