Repository fastify/fastify, pull requests merged in 2023-12, with the labels that each got.

#5155 fix: type FastifyInstance['route'] and RouteShorthandMethod
  test/types/logger.test-d.ts
  types/instance.d.ts
  types/route.d.ts
Labels: typescript

#5186 docs (reference): Fix small typo in Request
  docs/Reference/Request.md
Labels: documentation

#5175 docs(ecosystem): Add Apitally
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5158 docs(ecosystem): adds @blastorg/fastify/aws-dynamodb-cache to community plugins list
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5046 types: added http header types to reply
  test/types/reply.test-d.ts
  types/reply.d.ts
  types/utils.d.ts
Labels: typescript

#5194 test: add tests for TOC of errors.md
  test/internals/errors.test.js
Labels: test

#5197 ci: pin node 18 to 18.18.2
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/package-manager-ci.yml
Labels: github actions

#5132 docs(ecosystem): add http-wizard
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5195 ci: fix broken ci by skipping tests if node v > 18.19.0
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  .github/workflows/package-manager-ci.yml
  test/close-pipelining.test.js
  test/close.test.js
Labels: test

#5147 fix: allow async hooks in `RouteShorthandOptions` without breaking `request` and `reply` types
  test/types/hooks.test-d.ts
  types/hooks.d.ts
  types/route.d.ts
Labels: typescript

#5191 types: nullish error types in callback function's parameter for `after` and `ready` method
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#5184 chore: remove unused type assertion
  package.json
  test/types/request.test-d.ts
Labels: typescript, test

#5207 fix: route constraints
  test/types/route.test-d.ts
  types/route.d.ts
Labels: typescript

#5218 docs: update setErrorHandler to explain not found behaviour
  docs/Reference/Server.md
Labels: documentation

#5234 docs(ecosystem): add missing plugins to core list
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5233 ci: CITGM github workflow
  .github/workflows/citgm-package.yml
  .github/workflows/citgm.yml
Labels: github actions

#5188 fix: setValidatorCompiler with addSchema
  lib/schema-controller.js
  test/schema-serialization.test.js
  test/schema-validation.test.js
Labels: bugfix, test

#5216 docs: add open-collective
  CONTRIBUTING.md
  EXPENSE_POLICY.md
  GOVERNANCE.md
  README.md
  SPONSORS.md
  package.json
Labels: chore
