Repository fastify/fastify, pull requests merged in 2023-08, with the labels that each got.

#4947 docs: early hints plugin is fastify plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4953 ci: prove pr title check
  .github/workflows/pull-request-title.yml
Labels: github actions

#4954 ci: fix warnings in benchmark workflows
  .github/workflows/benchmark-parser.yml
  .github/workflows/benchmark.yml
Labels: github actions

#4948 docs: fix removeAdditional comment
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#4956 fix: Try to fix parser benchmark workflow
  .github/workflows/benchmark-parser.yml
Labels: github actions

#4945 fix: infer correct hook handler
  package.json
  test/types/hooks.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
Labels: typescript

#4983 chore: fix ci bench
  .github/workflows/benchmark.yml
Labels: github actions

#4982 fix: require.cache is undefined breaks SEA
  lib/pluginUtils.js
  test/internals/plugin.test.js
Labels: bugfix

#4985 ci: remove sync next wf
  .github/workflows/sync-next.yml
Labels: github actions

#4990 docs: remove mixing ES6 and commomjs in the example
  docs/Guides/Getting-Started.md
Labels: documentation

#4989 fix: errorHandler callback should utilize TypeProvider
  test/types/instance.test-d.ts
  test/types/type-provider.test-d.ts
  types/route.d.ts
Labels: typescript

#4997 chore: make tests pass on ipv4 only machine
  test/custom-http-server.test.js
  test/https/custom-https-server.test.js
Labels: test

#4992 fix: Set `FastifyRequest.id` type as a string
  test/types/request.test-d.ts
  types/request.d.ts
Labels: typescript

#4962 fix: remove http version check
  docs/Reference/Routes.md
  fastify.js
  lib/route.js
  lib/server.js
  test/unsupported-httpversion.test.js
Labels: semver-major, v5.x

#5004 docs(ecosystem): add `@fastify/throttle` to core list
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5007 docs: typo on catch statement inside Postgrator migration example
  docs/Guides/Database.md
Labels: documentation
