Repository fastify/fastify, pull requests merged in 2023-04, with the labels that each got.

#4654 Add `fastify-koa` plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4662 Prevent labeler from removing existing labels
  .github/workflows/labeler.yml
Labels: github actions

#4647 Emit a warning when validating undefined schemas
  lib/validation.js
  lib/warnings.js
  test/schema-feature.test.js
Labels: bugfix

#4667 chore(ecosystem): rename to fastify-orama plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4664 chore: add `github actions` label automatically
  .github/labeler.yml
Labels: chore

#4655 Adds async hooks signature on route level
  docs/Reference/Hooks.md
  test/route-hooks.test.js
  test/types/hooks.test-d.ts
  test/types/route.test-d.ts
  test/types/type-provider.test-d.ts
  types/route.d.ts
Labels: typescript

#4671 chore(docs): update from cobraz to simenandre
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4678 Documentation: link from Hooks onRoute to routeOptions definition
  docs/Reference/Hooks.md
Labels: documentation

#4679 docs: incorrect example for 'onRequestAbort' hook
  docs/Reference/Hooks.md
Labels: documentation

#4683 doc: add fastify-type-provider-effect-schema
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4651 doc: update prototype poisoning
  docs/Guides/Prototype-Poisoning.md
Labels: documentation

#4680 docs: add optional URL param to upgrade guide and route docs (#4637)
  docs/Guides/Migration-Guide-V4.md
  docs/Reference/Routes.md
Labels: documentation

#4656 Add fastify-redis-session plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4648 test: refactor logger test
  test/logger.test.js
  test/route.test.js
  test/serial/logger.0.test.js
  test/serial/logger.1.test.js
  test/serial/tap-parallel-not-ok
Labels: test

#4696 docs: add fastify-log-controller to ecosystem
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4681 refactor: export FastifyBaseLogger as interface instead of type alias
  types/logger.d.ts
Labels: typescript

#4697 Added preClose hook
  docs/Reference/Hooks.md
  fastify.js
  lib/hooks.js
  test/close.test.js
  test/types/hooks.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
Labels: semver-minor

#4708 fix: revert changes made to route hook types
  test/types/hooks.test-d.ts
  types/route.d.ts
Labels: typescript

#4712 docs: add fastify-opaque-apake to Ecosystem.md
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4714 ci: only trigger on pushes to main branches
  .github/workflows/ci.yml
Labels: github actions

#4720 ci: test using pnpm 8
  .github/workflows/integration.yml
  .github/workflows/package-manager-ci.yml
Labels: github actions

#4721 ci(integration): only trigger on pushes to main branches
  .github/workflows/integration.yml
Labels: github actions
