Repository fastify/fastify, pull requests merged in 2023-09, with the labels that each got.

#5012 test: reduce output of reqIdGenFactory.test.js
  test/internals/reqIdGenFactory.test.js
Labels: test

#5015 chore(examples): added curly braces to conditions for consistency
  examples/asyncawait.js
  examples/http2.js
  examples/https.js
  examples/parser.js
  examples/shared-schema.js
  examples/simple-stream.js
  examples/simple.js
  examples/typescript-server.ts
  examples/use-plugin.js
Labels: documentation

#4470 feat: access handler name add properties to req route options
  docs/Reference/Request.md
  lib/request.js
  lib/warnings.js
  test/request.deprecated.test.js
  test/router-options.test.js
Labels: semver-minor

#5019 docs: minor improvements
  docs/Guides/Ecosystem.md
  docs/Guides/Getting-Started.md
  docs/Guides/Migration-Guide-V4.md
  docs/Reference/ContentTypeParser.md
Labels: documentation

#5027 docs(typo): mistype of monkeypatch
  docs/Reference/Principles.md
Labels: documentation

#5028 chore: change website to .dev instead of .io
  package.json
Labels: chore

#5034 fix: add routeOptions.config to types
  test/types/request.test-d.ts
  types/request.d.ts
Labels: typescript

#5035 fix: add routeOptions.schema to types
  test/types/request.test-d.ts
  types/request.d.ts
Labels: typescript

#5042 docs: Add blank line before onclose hook heading
  docs/Reference/Hooks.md
Labels: documentation

#5041 docs(ecosystem): add fastify-prisma
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5020 feat: new logger api
  docs/Reference/Errors.md
  fastify.d.ts
  lib/errors.js
  lib/logger.js
  test/async-await.test.js
  test/internals/errors.test.js
  test/internals/initialConfig.test.js
  test/serial/logger.0.test.js
  test/serial/logger.1.test.js
  test/stream.test.js
  test/types/logger.test-d.ts
  test/types/register.test-d.ts
  test/types/request.test-d.ts
Labels: semver-major, v5.x

#5058 test: fix ci due yup breaking
  test/input-validation.js
Labels: test

#5064 test(logger): splitting existing tests to avoid pipeline failing for timeout
  test/logger/instantiation.test.js
  test/logger/logger-test-utils.js
  test/logger/logging.test.js
  test/logger/options.test.js
  test/logger/request.test.js
  test/logger/response.test.js
  test/logger/tap-parallel-not-ok
  test/serial/logger.0.test.js
  test/serial/logger.1.test.js
Labels: test
