Repository fastify/fastify, pull requests merged in 2023-01, with the labels that each got.

#4484 improve `setErrorHandler` example
  docs/Reference/Errors.md
Labels: documentation

#4438 nodenext compatibility
  fastify.d.ts
Labels: typescript

#4500 (v3.x) Replace pem dependency (#3711)
  package.json
  test/build-certificate.js
Labels: v3.x

#4497 (v3.x) perf: only check for isEssence once in RegExp for content-type-parser (#4481)
  lib/contentTypeParser.js
Labels: v3.x

#4503 docs: upgrade migration guide for v4
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4505 replace content-type with fast-content-type-parse
  lib/contentTypeParser.js
  package.json
Labels: backport 3.x

#4514 Add fastify-postgres-dot-js plugin to ecosystem docs.
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4517 docs(Ecosystem): add metcoder95/fastify-ip
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4524 #4523 Add types for fastifyInstance.addresses()
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#4518 Docs: Add guide about detecting client abort
  docs/Guides/Detecting-When-Clients-Abort.md
  docs/Guides/Index.md
Labels: documentation

#4527 fix: add type support for instance has plugin
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#4536 test: add host header for net connection
  test/close.test.js
  test/maxRequestsPerSocket.test.js
  test/skip-reply-send.test.js
  test/unsupported-httpversion.test.js
Labels: test

#4537 docs(ecosystem): add fastify-web-response
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4530 Docs: Update guide about detecting client abort
  docs/Guides/Detecting-When-Clients-Abort.md
Labels: documentation
