Repository fastify/fastify, pull requests merged in 2023-07, with the labels that each got.

#4849 docs(testing): add plugin testing guide
  docs/Guides/Testing.md
  docs/Guides/Write-Plugin.md
Labels: documentation

#4863 docs: fix platformatic-cloud anchor id
  docs/Guides/Serverless.md
Labels: documentation

#4869 fix: Type narrow fix issue from PR #4823
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: typescript

#4875 fix: Type inference breaking when Reply generic is not passed
  test/types/reply.test-d.ts
  test/types/type-provider.test-d.ts
  types/reply.d.ts
Labels: typescript

#4879 Update Prototype-Poisoning.md
  docs/Guides/Prototype-Poisoning.md
Labels: documentation

#4882 docs: adjust line for linter
  docs/Guides/Prototype-Poisoning.md
Labels: documentation

#4880 Fixed type inference on .code().send()
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: typescript

#4878 Next: Disallow `decorate('name', null)` in the types
  docs/Guides/Delay-Accepting-Requests.md
  docs/Reference/Decorators.md
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#4766 feat!: Add req.hostname and req.port
  docs/Reference/Logging.md
  docs/Reference/Request.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  lib/logger.js
  lib/request.js
  test/async-await.test.js
  test/get.test.js
  test/http2/constraint.test.js
  test/http2/plain.test.js
  test/http2/secure.test.js
  test/https/https.test.js
  test/internals/logger.test.js
  test/internals/request.test.js
  test/serial/logger.1.test.js
  test/server.test.js
  test/trust-proxy.test.js
  test/types/fastify.test-d.ts
  test/types/logger.test-d.ts
  test/types/request.test-d.ts
  test/url-rewriting.test.js
  test/versioned-routes.test.js
  types/logger.d.ts
  types/request.d.ts
Labels: semver-major

#4824 chore: refactor Error-typings and tests
  docs/Reference/Errors.md
  lib/errors.js
  test/internals/errors.test.js
  test/types/errors.test-d.ts
  types/errors.d.ts
Labels: bugfix, typescript

#4701 test: add missing assertion for a test
  test/server.test.js
Labels: test

#4792 Added type definition for allowUnsafeRegex
  fastify.d.ts
  test/types/fastify.test-d.ts
Labels: typescript

#4804 improve hooks.validate
  lib/hooks.js
Labels: chore

#4889 ci: enable caching; split jobs
  .github/workflows/ci.yml
  .github/workflows/coverage-nix.yml
  .github/workflows/coverage-win.yml
Labels: github actions

#4846 docs(plugins): note side-effect when using `await` in `fastify.register()`
  docs/Reference/Plugins.md
Labels: documentation

#4805 [hooks] Refine hook runners
  lib/handleRequest.js
  lib/hooks.js
  lib/reply.js
  lib/route.js
  test/internals/hookRunner.test.js
Labels: internals

#4893 fix wrong header size in docs
  docs/Reference/Errors.md
Labels: documentation

#4760 feat: add childLoggerFactory config
  docs/Reference/Routes.md
  docs/Reference/Server.md
  fastify.d.ts
  fastify.js
  lib/context.js
  lib/fourOhFour.js
  lib/logger.js
  lib/route.js
  lib/symbols.js
  test/500s.test.js
  test/childLoggerFactory.test.js
  test/encapsulated-child-logger-factory.test.js
  test/fastify-instance.test.js
  test/inject.test.js
  test/internals/initialConfig.test.js
  test/internals/request.test.js
  test/route.test.js
  test/types/instance.test-d.ts
  test/types/route.test-d.ts
  types/instance.d.ts
  types/logger.d.ts
  types/route.d.ts
Labels: semver-minor

#4897 Fix setNotFoundHandler handler type
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript

#4194 Change request id header default value to false
  build/build-validation.js
  docs/Reference/Logging.md
  docs/Reference/Server.md
  fastify.d.ts
  fastify.js
  lib/configValidator.js
  lib/reqIdGenFactory.js
  test/genReqId.test.js
  test/internals/initialConfig.test.js
  test/internals/logger.test.js
Labels: semver-major

#4886 fix: handle abort signal before server is ready
  docs/Reference/Errors.md
  lib/errors.js
  lib/server.js
  test/internals/errors.test.js
  test/server.test.js
Labels: bugfix

#4898 docs(client-aborted): remove deprecated function
  docs/Guides/Detecting-When-Clients-Abort.md
Labels: documentation

#4901 Revert "docs(client-aborted): remove deprecated function (#4898)"
  docs/Guides/Detecting-When-Clients-Abort.md
Labels: documentation

#4905 docs(logging): fix typo
  docs/Reference/Logging.md
Labels: documentation

#4903 fix: extend isCustomValidatorCompiler from parent controller
  lib/schema-controller.js
  test/internals/request-validate.test.js
Labels: bugfix

#4916 fix: requestIdHeader docs
  docs/Reference/Server.md
Labels: documentation

#4904 docs(server): grammar and structure fixes
  docs/Reference/Server.md
Labels: documentation

#4922 Fix typo in TypeScript docs ("@types/node", not "@node/types")
  docs/Reference/TypeScript.md
Labels: documentation

#4928 fix: lowercase type-providers headers types
  test/types/type-provider.test-d.ts
  types/type-provider.d.ts
  types/utils.d.ts
Labels: typescript

#4885 fix: ReplyTypeConstrainer array type inference
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: typescript

#4476 make FastifySchemaValidationError.params wider
  fastify.d.ts
  test/types/fastify.test-d.ts
  types/schema.d.ts
Labels: typescript

#4934 docs(ecosystem): add fastify-hashids
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4929 fix: hasPlugin does not track parent plugins
  fastify.js
  lib/pluginOverride.js
  lib/pluginUtils.js
  test/internals/plugin.test.js
  test/plugin.test.js
Labels: bugfix
