Repository fastify/fastify, pull requests merged in 2023-05, with the labels that each got.

#4718 Maintain custom response schema
  lib/schemas.js
  test/internals/validation.test.js
Labels: bugfix

#4722 docs(readme): move table of contents
  README.md
Labels: documentation

#4731 chore: fix Reply.md internal link
  docs/Reference/Reply.md
Labels: documentation

#4736 Chore(Workflow): Update website.yml
  .github/workflows/website.yml
Labels: github actions

#4674 feat: add listeningOrigin fastify immutable instance property (#4586)
  docs/Reference/Server.md
  fastify.js
  test/fastify-instance.test.js
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: semver-minor

#4737 chore: add test-compare action
  .github/workflows/test-compare.yml
Labels: github actions

#4735 support send typedarray objects (#4715)
  docs/Reference/Reply.md
  lib/reply.js
  test/internals/reply.test.js
Labels: semver-minor

#4757 Fix lowercase HTTP methods type
  test/types/route.test-d.ts
  types/utils.d.ts
Labels: typescript

#4759 Add missing trailer method definitions
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: typescript

#4765 fix: benchmark:parser script
  examples/benchmark/body.json
  package.json
Labels: github actions

#4770 chore: pin json-schema-to-ts
  package.json
Labels: typescript

#4752 feat: async validation support
  docs/Reference/Validation-and-Serialization.md
  lib/handleRequest.js
  lib/validation.js
  test/schema-special-usage.test.js
Labels: semver-minor

#4771 docs(ecosystem): add fastify-evervault plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4775 revert: hotfix dev dep
  package.json
Labels: typescript
