Repository fastify/fastify, pull requests merged in 2023-02, with the labels that each got.

#4544 Bring docs in line with ajv-serializer defaults
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#4546 docs: update await fastify.register docs
  docs/Guides/Migration-Guide-V4.md
Labels: documentation

#4551 docs: update Ecosystem.md
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4504 docs(ecosystem): add fastify-204
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4569 docs: add fastify-delay-request
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4571 docs(ecosystem): add @clerk/fastify plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4572 docs(ecosystem): add fastify-json-to-xml plugin
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4570 Schema error formatter type
  fastify.d.ts
  test/types/fastify.test-d.ts
  types/instance.d.ts
  types/route.d.ts
  types/schema.d.ts
Labels: typescript

#4555 Fix typescript integration bug with ajv-compiler
  fastify.d.ts
  package.json
  test/types/schema.test-d.ts
  types/schema.d.ts
Labels: bugfix, typescript

#4582 feat: Add onRequestAbort hook.
  docs/Reference/Hooks.md
  fastify.d.ts
  fastify.js
  lib/context.js
  lib/hooks.js
  lib/route.js
  test/hooks-async.test.js
  test/hooks.test.js
  test/types/hooks.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/route.d.ts
Labels: semver-minor

#4594 Improve Contribution Guide's VSCode setup instructions
  docs/Guides/Contributing.md
Labels: documentation

#4599 docs(ecosystem): add fastify-flux tool
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#4601 feat: include origin error message into serialization error
  lib/error-handler.js
  lib/errors.js
  test/schema-serialization.test.js
  types/errors.d.ts
Labels: semver-minor
