Repository fastify/fastify, pull requests merged in 2024-12, with the labels that each got.

#5856 test: migrated validation-error-handling from tap to node:test
  test/validation-error-handling.test.js
Labels: test

#5889 ci: pin node version 22.11
  .github/workflows/ci.yml
  .github/workflows/coverage-win.yml
Labels: github actions

#5891 docs(ecosystem): update apitally description
  docs/Guides/Ecosystem.md
Labels: documentation

#5884 types: remove connection property in FastifyRequest
  types/request.d.ts
Labels: typescript

#5892 fix: crash when host header is missing by various of reason
  docs/Reference/Request.md
  lib/request.js
  test/request-header-host.test.js
Labels: documentation

#5881 chore: fix flaky test
  .github/workflows/coverage-nix.yml
  .github/workflows/coverage-win.yml
  package.json
  test/close-pipelining.test.js
  test/hooks.test.js
  test/post-empty-body.test.js
  test/trust-proxy.test.js
Labels: test, github actions

#5896 types: use `node:` prefix for builtins
  docs/Reference/TypeScript.md
  examples/typescript-server.ts
  fastify.d.ts
  test/types/content-type-parser.test-d.ts
  test/types/fastify.test-d.ts
  test/types/instance.test-d.ts
  test/types/logger.test-d.ts
  test/types/plugin.test-d.ts
  test/types/register.test-d.ts
  test/types/reply.test-d.ts
  test/types/route.test-d.ts
  test/types/serverFactory.test-d.ts
  test/types/type-provider.test-d.ts
  types/hooks.d.ts
  types/instance.d.ts
  types/reply.d.ts
  types/serverFactory.d.ts
  types/utils.d.ts
Labels: documentation, typescript

#5878 test: migrated content-length.test.js from tap to node:test
  test/content-length.test.js
Labels: test

#5898 chore: org members reorder
  CONTRIBUTING.md
  README.md
Labels: documentation

#5904 docs(request): clarify request host functionality
  README.md
  docs/Reference/Request.md
  lib/request.js
Labels: documentation

#5902 test: migrated custom-parser.2.test.js from tap to node:test
  test/custom-parser.2.test.js
Labels: test

#5880 test: migrated nullable-validation.test.js from tap to node:test
  test/nullable-validation.test.js
Labels: test

#5903 test: migrated custom-parser.3.test.js from tap to node:test
  test/custom-parser.3.test.js
Labels: test

#5906 test: migrate delete test from tap to node test runner
  test/delete.test.js
Labels: test

#5913 build(deps): replace `proxy-addr` with `@fastify/proxy-addr`
  docs/Reference/Server.md
  lib/request.js
  package.json
Labels: documentation
