Repository fastify/fastify, pull requests merged in 2024-11, with the labels that each got.

#5730 docs: add HeroDevs mentions to README and LTS docs
  README.md
  docs/Reference/LTS.md
Labels: documentation

#5805 test: migrated request-timeout.test.js from tap to node:test
  test/request-timeout.test.js
Labels: hacktoberfest-accepted

#5809 ci(benchmark): fix github token input
  .github/workflows/benchmark-parser.yml
  .github/workflows/benchmark.yml
Labels: github actions

#5808 test: migrated reply-code.test.js from tap to node:test
  test/reply-code.test.js
Labels: hacktoberfest-accepted

#5795 test: migrated middleware.test.js from tap to node:test
  test/middleware.test.js
Labels: test, hacktoberfest-accepted

#5817 style: remove trailing whitespace
  .github/workflows/benchmark-parser.yml
  .github/workflows/benchmark.yml
  .github/workflows/md-lint.yml
  CONTRIBUTING.md
  EXPENSE_POLICY.md
  docs/Guides/Database.md
  docs/Guides/Detecting-When-Clients-Abort.md
  docs/Guides/Ecosystem.md
  docs/Guides/Index.md
  docs/Guides/Migration-Guide-V4.md
  docs/Guides/Migration-Guide-V5.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Prototype-Poisoning.md
  docs/Guides/Recommendations.md
  docs/Guides/Serverless.md
  docs/Guides/Testing.md
  docs/Guides/Write-Plugin.md
  docs/Guides/Write-Type-Provider.md
  docs/Reference/Decorators.md
  docs/Reference/Errors.md
  docs/Reference/Hooks.md
  docs/Reference/Reply.md
  docs/Reference/Request.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/TypeScript.md
  lib/error-serializer.js
  test/bundler/README.md
Labels: documentation, github actions

#5822 docs: Add `fastify-mongo-sanitize` and ` remix-fastify` to comm.
  docs/Guides/Ecosystem.md
Labels: documentation

#5786 docs: add loggerInstance to Server doc
  docs/Reference/Server.md
Labels: documentation

#5813 test: migrated post-empty-body.test.js from tap to node:test
  test/post-empty-body.test.js
Labels: test

#5825 docs(CONTRIBUTING.md): read the announcements
  CONTRIBUTING.md
Labels: documentation

#5812 test: migrated use-semicolon-delimiter.test.js from tap to node:test
  test/use-semicolon-delimiter.test.js
Labels: test

#5834 docs: smaller documentation fixes
  docs/Reference/Reply.md
  docs/Reference/Server.md
Labels: documentation

#5811 fix(types): addHttpMethod type signature on fastify instance (#5810)
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: bugfix, typescript

#5777 test: Migrate tests to Node test container
  test/async-dispose.test.js
  test/has-route.test.js
Labels: test, hacktoberfest-accepted

#5828 test: migrated max-requests-per-socket.test.js from tap to node:test
  test/max-requests-per-socket.test.js
Labels: test

#5778 test: migrated content-type and context-config tests from tap to node:test
  test/content-type.test.js
  test/context-config.test.js
Labels: test, hacktoberfest-accepted

#5819 docs: Added fastify-passkit-webservice to community plugins
  docs/Guides/Ecosystem.md
Labels: documentation

#5829 test: migrate trust-proxy, type-provider, url-rewriting to node:test
  test/trust-proxy.test.js
  test/type-provider.test.js
  test/url-rewriting.test.js
Labels: test

#5832 test: migrated fluent-schema.test.js from tap to node:test
  test/fluent-schema.test.js
Labels: test

#5835 test: migrated set-error-handler.test.js and header-overflow.test.js from tap to node:test
  test/header-overflow.test.js
  test/noop-set.test.js
  test/set-error-handler.test.js
Labels: test

#5844 test: migrated pretty-print.test.js from tap to node:test
  test/pretty-print.test.js
Labels: test

#5837 test: migrated custom-parser.4.test.js and custom-parser.5.test.js fr…
  test/custom-parser.5.test.js
Labels: test

#5857 docs: fix example for supplying own logger instance
  docs/Reference/Logging.md
Labels: documentation

#5863 docs: make whitespace consistent
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#5858 test: migrated request-id.test.js from tap to node:test
  test/request-id.test.js
Labels: test

#5839 test: migrated tests from tap to node test
  test/stream-serializers.test.js
  test/sync-routes.test.js
Labels: test

#5840 test: migrated router-options.test.js from tap to node:test
  test/router-options.test.js
Labels: test
