Repository fastify/fastify, pull requests merged in 2024-07, with the labels that each got.

#5548 docs: use `http2` directive in nginx config
  docs/Guides/Recommendations.md
Labels: documentation

#5558 chore: fix lint
  types/type-provider.d.ts
Labels: typescript

#5557 ci: remove automerge from ci alternative runtimes
  .github/workflows/ci-alternative-runtime.yml
Labels: github actions

#5560 chore: remove dc-polyfill
  docs/Reference/Hooks.md
  fastify.js
  lib/handleRequest.js
  lib/wrapThenable.js
  package.json
  test/diagnostics-channel/404.test.js
  test/diagnostics-channel/async-delay-request.test.js
  test/diagnostics-channel/async-request.test.js
  test/diagnostics-channel/error-before-handler.test.js
  test/diagnostics-channel/error-request.test.js
  test/diagnostics-channel/error-status.test.js
  test/diagnostics-channel/init.test.js
  test/diagnostics-channel/sync-delay-request.test.js
  test/diagnostics-channel/sync-request-reply.test.js
  test/diagnostics-channel/sync-request.test.js
Labels: documentation, v5.x

#5561 fix: res serializer not given reply (#5556)
  lib/reply.js
  test/stream-serializers.test.js
Labels: bugfix, backport 4.x

#5571 chore: allow ! in PR title
  .github/workflows/pull-request-title.yml
Labels: github actions, backport 4.x

#5579 docs: add @pybot/fastify-autoload to comm plugins
  docs/Guides/Ecosystem.md
Labels: documentation

#5567 feat: customize http methods
  docs/Reference/Routes.md
  docs/Reference/Server.md
  fastify.js
  lib/handleRequest.js
  lib/httpMethods.js
  lib/route.js
  lib/symbols.js
  test/http-methods/copy.test.js
  test/http-methods/custom-http-methods.test.js
  test/http-methods/get.test.js
  test/http-methods/head.test.js
  test/http-methods/lock.test.js
  test/http-methods/mkcalendar.test.js
  test/http-methods/mkcol.test.js
  test/http-methods/move.test.js
  test/http-methods/propfind.test.js
  test/http-methods/proppatch.test.js
  test/http-methods/report.test.js
  test/http-methods/search.test.js
  test/http-methods/trace.test.js
  test/http-methods/unlock.test.js
  test/internals/all.test.js
  test/method-missing.test.js
  test/route-shorthand.test.js
Labels: documentation, semver-major, missing types, v5.x, notable-change

#5581 docs: Adding `crudify-mongo` plugin to community list
  docs/Guides/Ecosystem.md
Labels: documentation

#5576 docs(reference/typescript): remove type provider from typebox example
  docs/Reference/TypeScript.md
Labels: documentation

#5586 refactor!: remove json shorthand
  build/build-validation.js
  docs/Guides/Getting-Started.md
  docs/Reference/Server.md
  docs/Reference/Validation-and-Serialization.md
  fastify.d.ts
  lib/configValidator.js
  lib/schemas.js
  test/internals/initialConfig.test.js
  test/internals/reply-serialize.test.js
  test/internals/request-validate.test.js
  test/internals/validation.test.js
  test/request.deprecated.test.js
  test/route.3.test.js
  test/router-options.test.js
  test/schema-examples.test.js
  test/schema-feature.test.js
  test/schema-serialization.test.js
  test/schema-validation.test.js
  test/throw.test.js
  test/types/fastify.test-d.ts
  test/types/schema.test-d.ts
Labels: documentation, semver-major, typescript, notable-change

#5589 chore: remove deprecation 005
  docs/Reference/Request.md
  docs/Reference/Warnings.md
  lib/request.js
  lib/warnings.js
  test/internals/request.test.js
Labels: documentation

#5590 fix: nullish host
  lib/server.js
  test/listen.1.test.js
Labels: bugfix, backport 4.x

#5592 chore(sponsor): add handsontable
  SPONSORS.md
Labels: documentation, backport 4.x

#5580 docs(reply): standardize import style in examples
  docs/Reference/Reply.md
Labels: documentation

#5602 docs(typescript): update example fastify version
  docs/Reference/TypeScript.md
Labels: documentation
