Repository fastify/fastify, pull requests merged in 2024-08, with the labels that each got.

#5604 refactor: remove FSTDEP007
  docs/Reference/Warnings.md
  lib/route.js
  lib/warnings.js
  test/http-methods/head.test.js
  test/route.7.test.js
Labels: documentation, v5.x

#5587 refactor(4.x): add deprecate warning of json shorthand
  docs/Reference/Warnings.md
  lib/route.js
  lib/schemas.js
  lib/warnings.js
  test/internals/validation.test.js
  test/json-shorthand.test.js
Labels: v4.x

#5609 refactor: remove `FSTDEP008` and `FSTDEP009`
  build/build-validation.js
  docs/Reference/Errors.md
  docs/Reference/Warnings.md
  fastify.d.ts
  fastify.js
  lib/errors.js
  lib/route.js
  lib/warnings.js
  test/internals/errors.test.js
  test/internals/initialConfig.test.js
  test/types/errors.test-d.ts
  test/types/fastify.test-d.ts
  test/versioned-routes.test.js
  types/errors.d.ts
  types/request.d.ts
  types/route.d.ts
Labels: documentation, typescript, v5.x

#5611 refactor: remove `FSTDEP010`
  docs/Reference/Warnings.md
  lib/reply.js
  lib/warnings.js
  test/internals/reply.test.js
  test/skip-reply-send.test.js
Labels: documentation, v5.x

#5613 refactor: remove `FSTDEP021`
  docs/Reference/Warnings.md
  lib/reply.js
  lib/warnings.js
  test/internals/reply.test.js
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: documentation, typescript, v5.x

#5614 refactor: use `Object.hasOwn`
  lib/decorate.js
  lib/route.js
  lib/server.js
  lib/validation.js
  test/decorator.test.js
  test/internals/decorator.test.js
  test/internals/request-validate.test.js
Labels: v5.x

#5616 refactor: remove `FSTDEP012`, `FSTDEP015`, `FSTDEP016`, `FSTDEP017`, `FSTDEP018`, `FSTDEP019`
  docs/Reference/Logging.md
  docs/Reference/Reply.md
  docs/Reference/Request.md
  docs/Reference/Routes.md
  docs/Reference/Warnings.md
  lib/context.js
  lib/reply.js
  lib/request.js
  lib/symbols.js
  lib/warnings.js
  test/internals/reply.test.js
  test/internals/request.test.js
  test/request.deprecated.test.js
  test/route.8.test.js
  test/router-options.test.js
  test/types/hooks.test-d.ts
  test/types/instance.test-d.ts
  test/types/reply.test-d.ts
  test/types/request.test-d.ts
  test/types/route.test-d.ts
  types/reply.d.ts
  types/request.d.ts
Labels: documentation, typescript, v5.x

#5618 refactor: remove `FSTDEP013`
  docs/Reference/Warnings.md
  lib/reply.js
  lib/warnings.js
  test/reply-trailers.test.js
Labels: documentation, v5.x

#5621 fix: throwing "FST_ERR_DUPLICATED_ROUTE" error instead of raw error
  lib/route.js
  test/route.8.test.js
  test/throw.test.js
Labels: bugfix, backport 4.x

#5612 fix: reorder handling of `Response` replies
  lib/reply.js
  test/web-api.test.js
Labels: citgm-core-plugins, backport 4.x

#5577 ci(.github): use latest node lts version
  .github/workflows/benchmark-parser.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/citgm-package.yml
  .github/workflows/coverage-nix.yml
  .github/workflows/coverage-win.yml
  .github/workflows/integration.yml
  .github/workflows/md-lint.yml
  .github/workflows/package-manager-ci.yml
Labels: github actions

#5630 docs: add default value for maxParamLength
  docs/Reference/Server.md
Labels: documentation

#5651 docs(type-providers): fix typos
  docs/Reference/Type-Providers.md
Labels: documentation
