Repository fastify/fastify, pull requests merged in 2024-05, with the labels that each got.

#5419 perf: update method matching
  lib/handleRequest.js
  lib/httpMethods.js
  test/delete.test.js
  test/helper.js
  test/method-missing.test.js
Labels: v5.x, notable-change

#5461 docs(guides/database): correct typo
  docs/Guides/Database.md
Labels: documentation

#5468 docs(reference/routes): fix example on constraints
  docs/Reference/Routes.md
Labels: documentation

#5462 feat: request and reply decorators can not be a reference type
  docs/Reference/Decorators.md
  docs/Reference/Errors.md
  docs/Reference/Warnings.md
  lib/decorate.js
  lib/errors.js
  lib/warnings.js
  test/decorator-namespace.test._js_
  test/decorator.test.js
  test/internals/errors.test.js
  types/errors.d.ts
Labels: documentation, typescript, v5.x, notable-change

#5474 docs: update indentation on type providers section
  docs/Reference/Type-Providers.md
Labels: documentation

#5481 chore: remove node 18 from CI
  .github/workflows/benchmark-parser.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci-alternative-runtime.yml
  .github/workflows/ci.yml
  .github/workflows/integration-alternative-runtimes.yml
  .github/workflows/integration.yml
  .github/workflows/package-manager-ci.yml
Labels: github actions

#5480 feat: writeEarlyHints
  docs/Reference/Reply.md
  lib/reply.js
  test/reply-earlyHints.test.js
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: documentation, typescript

#5482 docs: update indentation and code snippet in the routes section
  docs/Reference/Routes.md
Labels: documentation

#5483 refactor: change `reply.redirect()` signature
  docs/Reference/Reply.md
  docs/Reference/Warnings.md
  lib/reply.js
  lib/warnings.js
  test/internals/reply.test.js
  test/types/reply.test-d.ts
  types/reply.d.ts
Labels: documentation, typescript, notable-change

#5252 feat: emit diagnostics_channel events upon routing request
  docs/Reference/Hooks.md
  fastify.js
  lib/handleRequest.js
  lib/wrapThenable.js
  package.json
  test/diagnostics-channel/404.test.js
  test/diagnostics-channel/async-delay-request.test.js
  test/diagnostics-channel/async-request.test.js
  test/diagnostics-channel/error-before-handler.test.js
  test/diagnostics-channel/error-request.test.js
  test/diagnostics-channel/error-status.test.js
  test/diagnostics-channel/init.test.js
  test/diagnostics-channel/sync-delay-request.test.js
  test/diagnostics-channel/sync-request-reply.test.js
  test/diagnostics-channel/sync-request.test.js
  test/internals/handleRequest.test.js
Labels: documentation
