Repository fastify/fastify, pull requests merged in 2025-04, with the labels that each got.

#6040 chore: remove sponsort
  SPONSORS.md
Labels: documentation

#6042 chore: migrate custom-parser.4.test.js to node:test
  test/custom-parser.4.test.js
Labels: test

#6032 docs: add fastify-lm to Ecosystem.md
  docs/Guides/Ecosystem.md
Labels: documentation

#6048 test: skip IPv6 tests if its support is not present
  test/fastify-instance.test.js
  test/hooks.on-listen.test.js
  test/listen.2.test.js
Labels: test

#6059 test: migrate logger options to node test runner
  test/logger/options.test.js
Labels: test

#6060 test: migrate logger logging to node test runner
  test/logger/logging.test.js
  test/toolkit.js
Labels: test

#6054 test: custom querystring parser
  test/custom-querystring-parser.test.js
Labels: test

#6062 test: migrate stream 4 to node test runner
  test/stream.4.test.js
Labels: test

#6058 test: migrate request logger to node test runner
  test/logger/request.test.js
Labels: test

#6052 test: migrate custom parser 0 to node test runner
  test/custom-parser.0.test.js
Labels: test

#6061 test: migrate logger instantiation to node test runner
  test/logger/instantiation.test.js
Labels: test

#6063 docs: fix archived concurrently link to point to active repo
  docs/Guides/Benchmarking.md
Labels: documentation

#6046 docs: update Vercel section
  docs/Guides/Serverless.md
Labels: documentation

#6051 docs(ecosystem): add fastify-papr plugin
  docs/Guides/Ecosystem.md
Labels: documentation

#6074 test: migrated helper and input validation to node test runner
  test/helper.js
  test/input-validation.js
  test/options.error-handler.test.js
  test/options.test.js
  test/patch.error-handler.test.js
  test/patch.test.js
  test/put.error-handler.test.js
  test/put.test.js
Labels: test

#6069 style: add "no comma-dangle" rule to eslint config and remove trailing commas
  eslint.config.js
  lib/decorate.js
  lib/logger-factory.js
  lib/logger-pino.js
  lib/reply.js
  lib/request.js
  test/issue-4959.test.js
  test/types/plugin.test-d.ts
  test/types/register.test-d.ts
  test/use-semicolon-delimiter.test.js
Labels: typescript, chore

#6065 test: migrate stream tests to node test runner
  test/stream.1.test.js
  test/stream.2.test.js
  test/stream.3.test.js
Labels: test

#6055 test: logger response
  test/logger/response.test.js
Labels: test

#6068 test: migrated inject.test.js from tap to node:test
  test/inject.test.js
Labels: test

#6075 test: migrated plugin 1 to node test runner
  test/plugin.1.test.js
Labels: test

#6090 ci: fix branch pattern
  .github/workflows/ci.yml
Labels: github actions

#6082 docs: added Jeasx to Ecosystem.md
  docs/Guides/Ecosystem.md
Labels: documentation

#6085 test: mv promises from tap
  test/promises.test.js
Labels: test

#6073 refactor: node:http2 is always available
  docs/Reference/Errors.md
  lib/errors.js
  lib/server.js
  test/http2/missing-http2-module.test.js
  test/internals/errors.test.js
  test/types/errors.test-d.ts
  types/errors.d.ts
Labels: documentation, typescript
