Repository fastify/fastify, pull requests merged in 2025-01, with the labels that each got.

#5920 fix: ReadableStream.locked crashes application
  docs/Reference/Errors.md
  lib/errors.js
  lib/reply.js
  test/internals/errors.test.js
  test/web-api.test.js
Labels: documentation, bugfix

#5921 docs: fix typo
  docs/Reference/Request.md
Labels: documentation

#5935 docs: Include req.hostname change in upgrade guide
  docs/Guides/Migration-Guide-V5.md
Labels: documentation

#5946 docs: the no floating promise guide is not needed anymore
  docs/Reference/TypeScript.md
Labels: documentation

#5947 docs(guides): grammar and spelling fixes
  docs/Guides/Benchmarking.md
  docs/Guides/Contributing.md
  docs/Guides/Database.md
  docs/Guides/Delay-Accepting-Requests.md
  docs/Guides/Fluent-Schema.md
  docs/Guides/Getting-Started.md
  docs/Guides/Index.md
  docs/Guides/Migration-Guide-V4.md
  docs/Guides/Plugins-Guide.md
  docs/Guides/Serverless.md
  docs/Guides/Style-Guide.md
  docs/Guides/Write-Plugin.md
Labels: documentation

#5943 test: migrated genReqId.test.js from tap to node:test
  test/genReqId.test.js
Labels: test

#5950 docs(reference/contenttypeparser): make more concise
  docs/Reference/ContentTypeParser.md
  docs/Reference/Reply.md
Labels: documentation

#5949 docs(getting-started): clarify fastify-cli is separate
  docs/Guides/Getting-Started.md
Labels: documentation

#5952 docs(validation-and-serialization): fix typo
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#5923 test: migrated route-shorthand.test.js from tap to node:test
  test/route-shorthand.test.js
Labels: test

#5918 test: migrated register.test.js from tap to node:test
  test/register.test.js
Labels: test

#5954 Update broken link to N|Solid
  docs/Reference/LTS.md
Labels: documentation

#5951 docs(reference): even more conciseness
  docs/Reference/ContentTypeParser.md
  docs/Reference/Encapsulation.md
  docs/Reference/HTTP2.md
  docs/Reference/LTS.md
  docs/Reference/Lifecycle.md
  docs/Reference/Middleware.md
  docs/Reference/Principles.md
  docs/Reference/Warnings.md
Labels: documentation

#5915 test: migrate from tap to node test for close & custom-parser-async
  test/close.test.js
  test/custom-parser-async.test.js
Labels: test

#5962 docs(reference/type-providers): conciseness improvements
  docs/Reference/Type-Providers.md
Labels: documentation

#5963 docs(reference/errors): conciseness improvements
  docs/Reference/Errors.md
Labels: documentation

#5958 docs(reference/logging): conciseness improvements
  docs/Reference/Logging.md
Labels: documentation

#5965 docs(reference/request): conciseness improvements
  docs/Reference/Request.md
Labels: documentation

#5967 docs(ecosystem): add `@fastify/otel` to core list
  docs/Guides/Ecosystem.md
Labels: documentation

#5964 docs(reference/validation): conciseness improvements
  docs/Reference/Validation-and-Serialization.md
Labels: documentation

#5956 docs(reference/plugins): conciseness improvements
  docs/Reference/Plugins.md
Labels: documentation

#5966 docs(reference/decorators): conciseness improvements
  docs/Reference/Decorators.md
Labels: documentation

#5960 test: migrated listen.2.test.js from tap to node:test
  test/listen.2.test.js
Labels: test

#5961 docs(ecosystem): add fastify-enforce-routes-pattern
  docs/Guides/Ecosystem.md
Labels: documentation, plugin

#5969 docs(reference/routes): conciseness improvements
  docs/Reference/Decorators.md
  docs/Reference/Plugins.md
  docs/Reference/Routes.md
Labels: documentation

#5970 fix(types): missing supportedMethods
  test/types/instance.test-d.ts
  types/instance.d.ts
Labels: typescript
