Repository fastify/fastify, pull requests merged in 2025-06, with the labels that each got.

#6194 chore: removed simple-get from mkcol tests
  test/http-methods/mkcol.test.js
Labels: test

#6185 chore: removed simple-get from proto-poisoning test
  test/proto-poisoning.test.js
Labels: test

#6187 chore: removed simple-get from als test
  test/als.test.js
Labels: test

#6173 chore: remove simple-get from listen 4
  test/listen.4.test.js
Labels: test

#6195 chore(ci): cleanup citgm.yml
  .github/workflows/citgm.yml
Labels: github actions

#6186 chore: removed simple-get from lock test
  test/http-methods/lock.test.js
Labels: test

#6175 docs: fix markdown linting issue
  docs/Guides/Delay-Accepting-Requests.md
Labels: documentation

#6172 chore: remove simple-get from custom parser 5
  test/custom-parser.5.test.js
Labels: test

#6196 chore: removed simple-get from head tests
  test/http-methods/head.test.js
Labels: test

#6193 chore: removed simple-get from request id tests
  test/request-id.test.js
Labels: test

#6169 chore: remove simple-get from custom parser 2
  test/custom-parser.2.test.js
Labels: test

#6171 chore: remove simple-get from custom parser 4
  test/custom-parser.4.test.js
Labels: test

#6183 chore: removed simple-get from promises test
  test/promises.test.js
Labels: test

#6166 chore: remove simple-get from custom querystring parser
  test/custom-querystring-parser.test.js
Labels: test

#6176 chore: removed simple-get from check test
  test/check.test.js
Labels: test

#6189 chore: removed simple-get from async hooks test
  test/async_hooks.test.js
Labels: test

#6218 ci: pin third-party actions to commit-hash
  .github/workflows/backport.yml
  .github/workflows/benchmark-parser.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci-alternative-runtime.yml
  .github/workflows/ci.yml
  .github/workflows/integration-alternative-runtimes.yml
  .github/workflows/integration.yml
  .github/workflows/links-check.yml
  .github/workflows/lock-threads.yml
  .github/workflows/md-lint.yml
  .github/workflows/package-manager-ci.yml
  .github/workflows/test-compare.yml
Labels: github actions

#6177 fix: close fastify instance
  test/http2/secure-with-fallback.test.js
Labels: test

#6180 chore: removed simple-get from plugin-1 test
  test/plugin.1.test.js
Labels: test

#6182 chore: removed simple-get from plugin-3 test
  test/plugin.3.test.js
Labels: test

#6160 chore: remove simple get from reply test
  test/internals/reply.test.js
Labels: test

#6217 feat(types): add missing error types
  test/internals/errors.test.js
  test/types/errors.test-d.ts
  types/errors.d.ts
Labels: typescript

#6227 docs: setErrorHandler description
  docs/Reference/Server.md
  types/instance.d.ts
Labels: documentation, typescript

#6225 docs: fix onError hook execution order documentation
  docs/Reference/Hooks.md
  docs/Reference/Lifecycle.md
  docs/Reference/TypeScript.md
  types/hooks.d.ts
Labels: documentation, typescript
