Repository fastify/fastify, pull requests merged in 2025-05, with the labels that each got.

#5957 test: migrated decorator.test.js from tap to node:test
  test/decorator.test.js
Labels: test

#6099 test: stabilize pipelining shutdown test with controlled close timing
  test/close-pipelining.test.js
Labels: test

#6076 test: migrated output-validation.test.js from tap to node:test
  test/output-validation.test.js
Labels: test

#6080 test: remove tap from hooks-on ready file
  test/hooks.on-ready.test.js
Labels: test

#6086 test: mv hooks.on-listen from tap
  test/hooks.on-listen.test.js
Labels: test

#6097 docs: add a warning about `setErrorHandler` overriding a previously defined error handler on an encapsulated context
  docs/Reference/Server.md
Labels: documentation

#6117 docs(ecosystem): remove `fastify-diagnostics-channel`
  docs/Guides/Ecosystem.md
Labels: documentation

#6105 fix: internal function _addHook failure should be turned into the rejection app.ready is waiting for
  fastify.js
  test/internals/hooks.test.js
Labels: bugfix

#6111 test: replace removed request properties and update docs
  docs/Reference/Server.md
  test/inject.test.js
Labels: documentation

#6089 test: mv reply from tap
  test/reply-error.test.js
  test/reply-trailers.test.js
Labels: test

#6057 test: updated promises.test.js re-added the plan() method
  test/promises.test.js
Labels: test

#6103 ci: add support to test release candidates
  .github/workflows/ci.yml
Labels: github actions

#6098 refactor: revert misleading error "Fastify instance is already listening"
  docs/Reference/Errors.md
  fastify.js
  lib/errors.js
  test/internals/errors.test.js
  test/internals/reply.test.js
  test/route.1.test.js
  test/types/errors.test-d.ts
  types/errors.d.ts
Labels: documentation, semver-major, typescript, v6.x

#6092 test: mv routes-* from tap
  test/route-hooks.test.js
  test/route-prefix.test.js
Labels: test

#6094 test: mv skip-reply-send from tap
  test/skip-reply-send.test.js
Labels: test

#6088 test: mv plugins from tap
  test/plugin.2.test.js
  test/plugin.3.test.js
  test/plugin.4.test.js
Labels: test

#6125 fix(ci): ignore alternative runtime result
  .github/workflows/ci-alternative-runtime.yml
Labels: github actions, github_actions

#6084 test: mv hooks-async from tap
  test/async-await.test.js
  test/hooks-async.test.js
Labels: test

#6126 fix(types): add missing version to request.routeOptions
  test/types/request.test-d.ts
  types/request.d.ts
Labels: typescript

#6132 docs: add community plugins disclaimer
  docs/Guides/Ecosystem.md
Labels: documentation

#6134 docs: use cross-platform compatible info emoji
  docs/Guides/Ecosystem.md
  docs/Reference/ContentTypeParser.md
  docs/Reference/Hooks.md
  docs/Reference/Logging.md
  docs/Reference/Middleware.md
  docs/Reference/Reply.md
  docs/Reference/Request.md
  docs/Reference/Routes.md
  docs/Reference/Server.md
  docs/Reference/Validation-and-Serialization.md
Labels: documentation
